# 파이썬의 자료형(data type)
### 파이썬의 자료형은 동적으로 변화

- int : 정수형(소수점이 없는 숫자)
- float : 실수(소수점이 있는 숫자)
- str : 문자 / 문자열
- list : 여러 개의 자료가 순서대로 저장된 자료형(모든 자료형 넣을 수 있음)
- tuple : list와 비슷하나 한 번 만들면 수정이 안됨(모든 자료형 넣을 수 있음)
- dict(dictionary) : key: value 쌍으로 이루어진 자료형(모든 자료형 넣을 수 있음)

# type(변수) : 데이터 타입을 출력하는 함수

## 정수형 변수(int)

In [4]:
# 정수형 변수 할당
a = 10
print(a, type(a))

10 <class 'int'>

In [6]:
# 문자형 변수 할당
aa = '10'
print(aa, type(aa))

10 <class 'str'>

In [7]:
# 실수형 변수 할당
a = 3.14
print(a, type(a))

3.14 <class 'float'>

In [192]:
# 변수 할당
a = '삼쩜일'
b = 5

# 문자 * 숫자
print(a, type(a), b, type(b))
a * b

삼쩜일 <class 'str'> 5 <class 'int'>

'삼쩜일삼쩜일삼쩜일삼쩜일삼쩜일'

## 실수형 변수(float)

In [194]:
# 실수형 변수 할당
f = 3.14
print(f, type(f))

3.14 <class 'float'>

## 정수형 변수 +, -, * / 실수형 변수
- 정수형 변수(int)와 실수형 변수(float)을 연산하면 모두 실수(float)

In [195]:
# 정수형 변수 할당
a = 1
b = 3

# 정수형 변수 연산 수행
print(a+b, type(a+b))
print(a-b, type(a-b))
print(a*b, type(a*b))
print(a/b, type(a/b)) # 나눗셈의 결과는 실수

4 <class 'int'>
-2 <class 'int'>
3 <class 'int'>
0.3333333333333333 <class 'float'>

In [196]:
# 정수형과 실수형 변수 연산 수행
print(a + f)
print(a - f)
print(a * f)
print(a / f)

4.140000000000001
-2.14
3.14
0.3184713375796178

In [197]:
# 정수와 실수형 변수 연산 수행 결과 및 데이터 타입 확인
print('a_plus_f = ', a_plus_f, type(a_plus_f))
print('a_minus_f = ', a_minus_f, type(a_minus_f))
print('a_mul_f = ', a_mul_f, type(a_mul_f))
print('a_div_f = ', a_div_f, type(a_div_f))

a_plus_f =  4.140000000000001 <class 'float'>
a_minus_f =  -2.14 <class 'float'>
a_mul_f =  3.14 <class 'float'>
a_div_f =  0.3184713375796178 <class 'float'>

# 문자형(str)

In [198]:
# 문자 변수 할당 및 확인
c = '문'
d = "자"
e = "문자열"

print(c,type(c))
print(d,type(d))
print(e,type(e))

문 <class 'str'>
자 <class 'str'>
문자열 <class 'str'>

In [142]:
# 문자열 할당
long_char = '문자열은 아무리 길이가 길어도 한 줄로 되어 있어야 하고 줄바꿈이 안된다.'
print(long_char)
print(type(long_char))

문자열은 아무리 길이가 길어도 한 줄로 되어 있어야 하고 줄바꿈이 안된다.
<class 'str'>

In [143]:
long_char2 = '문자열은 아무리 길이가 길어도한 줄로 되어 있어야 한다. 줄바꿈이 안된다.줄바꿈을 하고 싶으면 \"\"\"\"\"\" 안에 넣으면 된다.'
print(long_char2)

문자열은 아무리 길이가 길어도한 줄로 되어 있어야 한다. 줄바꿈이 안된다.줄바꿈을 하고 싶으면 """""" 안에 넣으면 된다.

In [144]:
long_char3 = '문자열은 아무리 길이가 길어도\
한 줄로 되어 있어야 한다, \
줄바꿈이 안된다. \
줄바굼을 하고 싶으면 \
\"\"\"\"\"\" 안에 넣으면 된다.'
print(long_char3)

문자열은 아무리 길이가 길어도한 줄로 되어 있어야 한다, 줄바꿈이 안된다. 줄바굼을 하고 싶으면 """""" 안에 넣으면 된다.

In [145]:
long_char4 = '문자열은 아무리 길이가 길어도\n \
한 줄로 되어 있어야 한다, \n \
줄바꿈이 안된다. \n \
줄바굼을 하고 싶으면 \n \
\"\"\" \"\"\" 안에 넣으면 된다.'
print(long_char4)

문자열은 아무리 길이가 길어도
 한 줄로 되어 있어야 한다,
 줄바꿈이 안된다.
 줄바굼을 하고 싶으면
 """ """ 안에 넣으면 된다.

In [62]:
# 쌍따옴표 3개 : 작성한 그대로 나옴(들여쓰기도 적용됨)
long_char5 = """따옴표 3개로 문자열을 감싸면
줄바꿈을 해도 모두 그대로 출력된다.
쌍따옴표 3개나 홀따옴표 3개로 감싸면 된다."""
print(long_char5)

따옴표 3개로 문자열을 감싸면
줄바꿈을 해도 모두 그대로 출력된다.
쌍따옴표 3개나 홀따옴표 3개로 감싸면 된다.

In [64]:
# 홀따옴표 3개 : 작성한 그대로 나옴(들여쓰기도 적용됨)
long_char6 = '''따옴표 3개로 문자열을 감싸면
    줄바꿈을 해도 모두 그대로 출력된다.
        쌍따옴표 3개나 홀따옴표 3개로 감싸면 된다.'''
print(long_char6)

따옴표 3개로 문자열을 감싸면
    줄바꿈을 해도 모두 그대로 출력된다.
        쌍따옴표 3개나 홀따옴표 3개로 감싸면 된다.

# 문자 덧셈 +, 문자 반복 *

- 문자변수1 + 문자변수2 = 문자가 합쳐짐(뺄셈은 성립하지 않음)

In [73]:
# 문자 확인 및 덧셈
print(c,d)
print(c + d)

'문자'

In [74]:
# 문자변수끼리의 뺄셈은 성립하지 않음
e-c

TypeError: unsupported operand type(s) for -: 'str' and 'str'

- 문자변수 * 숫자 : 문자나 문자열을 반복

In [128]:
#  문자변수*숫자
print(e * 3)

# 문자 * 숫자
print('-'*50)
print(e)
print('='*50)

문자열문자열문자열
--------------------------------------------------
문자열
==================================================

# 문자열은 순서 존재
### 가장 앞글자가 0번, 0번부터 순서대로 증가

- len : 길이를 재는 함수

In [127]:
# 문자열 확인
print(long_char)

# 문자열 길이 확인
len(long_char)

문자열은 아무리 길이가 길어도 한 줄로 되어 있어야 하고 줄바꿈이 안된다.

41

- 인덱싱 : 변수명[인덱스번호]
- 슬라이싱 : 변수명[시작번호:끝번호+1]

In [99]:
# 인덱싱 확인
print(long_char[39])

# 슬라이싱 확인
print(long_char[32:40])
long_char[-9:40]

다
줄바꿈이 안된다

'줄바꿈이 안된다'

# 리스트(list)
- 리스트는 [정수, 실수,  문자, 리스트, 튜플, 디셔너리] 모두 넣을 수 있음
- 리스트는 여러 자료가 같이 나열된 형태이므로 순서가 존재
- 인덱싱, 슬라이싱 가능
- 자료의 추가/삭제 가능

In [130]:
# 리스트 할당
L = [1, 2.0, '삼', [1,2,3], (4,5,6), {'key':'value'}]
print(L, type(L))

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}] <class 'list'>

In [129]:
# 리스트 인덱싱
print(L[0], L[1], L[2], L[3])

# 리스트 슬라이싱
print(L[0:4])

# 중첩리스트 인덱싱
print(L[3][2])

1 2.0 삼 [1, 2, 3]
[1, 2.0, '삼', [1, 2, 3]]
3

In [146]:
#중첩 리스트
L2 = [1,2,3,[4,5,[6,7,8,[9,10]]]]

# 10 구하기 위한 인덱싱
print(L2)
print(L2[3])
print(L2[3][2])
print(L2[3][2][3])
print(L2[3][2][3][1])

[1, 2, 3, [4, 5, [6, 7, 8, [9, 10]]]]
[4, 5, [6, 7, 8, [9, 10]]]
[6, 7, 8, [9, 10]]
[9, 10]
10

- 리스트명.append('데이터') : 리스트 자료 추가
- del 리스트명[인덱스번호] : 리스트 자료 제거

In [148]:
# 리스트 자료 추가
L2.append('append')
L2.append([11,12,13])
L2

[1, 2, 3, [4, 5, [6, 7, 8, [9, 10]]], 'append', 'append', [11, 12, 13]]

In [151]:
# 리스트 자료 제거
del L2[-1]
L2

[1, 2, 3, [4, 5, [6, 7, 8, [9, 10]]]]

# 튜플(Tuple)
- 여러가지 자료를 ()안에 넣어서 만드는 자료형
- 모든 data type을 자료로 받을 수 있음
- 한 번 생성되면 수정 X
- 튜플이 리스트보다 코드 실행 시 더 빠르게 처리

In [153]:
# 튜플 할당
t = (1,)
print(t, type(t))

(1,) <class 'tuple'>

In [154]:
# 모든 자료형 넣은 튜플 할당
t2 = (10, 34.5, 'tuple', [1,2,3], (4,5,6), {'key': 'value'})
print(t2, type(t2))

(10, 34.5, 'tuple', [1, 2, 3], (4, 5, 6), {'key': 'value'}) <class 'tuple'>

In [158]:
# 튜플의 인덱싱
print(t2[4][1])

#튜플의 슬라이싱
print(t2[0:4])

5
(10, 34.5, 'tuple', [1, 2, 3])

In [162]:
t3 = (1,2,3,(4,5,6,[7,8,9,(10,11,12)]))
t3[3][3][3]

(10, 11, 12)

In [164]:
# 튜플의 데이터 타입 확인
print(t3, type(t3))
print(t3[3], type(t3[3]))
print(t3[3][3], type(t3[3][3]))
print(t3[3][3][3], type(t3[3][3][3]))
print(t3[3][3][3][0], type(t3[3][3][3][0]))

(1, 2, 3, (4, 5, 6, [7, 8, 9, (10, 11, 12)])) <class 'tuple'>
(4, 5, 6, [7, 8, 9, (10, 11, 12)]) <class 'tuple'>
[7, 8, 9, (10, 11, 12)] <class 'list'>
(10, 11, 12) <class 'tuple'>
10 <class 'int'>

In [165]:
# 튜플 자료 추가/제거 X
t3.append('2')

AttributeError: 'tuple' object has no attribute 'append'

# 딕셔너리형(dict)
### JSON{"key": "value"}
- key와 value로 이루어진 데이터형
- json이라고 불리며 웹 상에서 데이터 주고 받을때 주로 사용
- 딕셔너리의 value에는 모든 자료형이 올 수 있음
- 딕셔너리는 순서가 없는 자료형
- key를 호출하면 value가 출력

In [1]:
# 딕셔너리 할당
dic1 = {'이름': '고길동', '나이': 33, '키': 175.4, '가족':['둘리', '또치', '도우너']}
print(dic1)
print(type(dic1))

{'이름': '고길동', '나이': 33, '키': 175.4, '가족': ['둘리', '또치', '도우너']}
<class 'dict'>

- 딕셔너리의 길이는 key의 갯수

In [2]:
# 딕셔너리의 길이
len(dic1)

4

In [3]:
# 딕셔너리 추가하여 할당
dic2 = {'이름': '고길동', '나이': 33, '키': 175.4, '가족':['둘리', '또치', '도우너',{'신장':[130,120,150]}]}
print(dic2)

{'이름': '고길동', '나이': 33, '키': 175.4, '가족': ['둘리', '또치', '도우너', {'신장': [130, 120, 150]}]}

In [177]:
# 딕셔너리 인덱싱
print(dic2['가족'], type(dic2['가족']))
print(dic2['가족'][3])
print(dic2['가족'][3]['신장'])
print(dic2['가족'][3]['신장'][1])

['둘리', '또치', '도우너', {'신장': [130, 120, 150]}] <class 'list'>
{'신장': [130, 120, 150]}
[130, 120, 150]
120

- 딕셔너리명[새로운 키값]= value값 : 딕셔너리 자료 추가
- del 딕셔너리명['삭제할 키값'] : 딕셔너리 자료 제거

In [179]:
# 딕셔너리 자표 추가
dic2['새자료'] = (1,2,3)
dic2

{'이름': '고길동',
 '나이': 33,
 '키': 175.4,
 '가족': ['둘리', '또치', '도우너', {'신장': [130, 120, 150]}],
 '새자료': (1, 2, 3)}

In [181]:
# 딕셔너리 자료 제거
del dic2['가족']
dic2

KeyError: '가족'

In [186]:
# 딕셔너리 할당
dic3 = {
    '이름': ['홍길동', '둘리', '또치'],
    '나이': (33, 12, 14),
    '성별': ('남', '여', '남'),
    '주소': ['서울', '뉴욕', '프랑스']
}

# 딕셔너리 확인
dic3

{'이름': ['홍길동', '둘리', '또치'],
 '나이': (33, 12, 14),
 '성별': ('남', '여', '남'),
 '주소': ['서울', '뉴욕', '프랑스']}

In [190]:
# pandas 라이브러리 활용
import pandas as pd

# 데이터프레임 할당
df = pd.DataFrame(dic3)
df

    이름  나이 성별   주소
0  홍길동  33  남   서울
1   둘리  12  여   뉴욕
2   또치  14  남  프랑스

# 형 변환
#### 형변환: data type을 다른 data type으로 바꾸는 것

In [19]:
# 숫자와 문자 할당
a = 3
b = '3'
print(a,b)

3 3

In [14]:
# 정수와 문자는 연산 X
a+b

6

- int() : 정수로 형변환
- float() : 실수로 형변환
- str() : 문자열로 형변환
- list() : 리스트로 형변환
- tuple() : 튜플로 형변환

In [20]:
# 정수로 형변환
b = int(b)

# 정수 형변환 -> 정수 + 정수
a+b

6

In [21]:
# 실수로 형변환
b = float(b)

# 정수 + 실수
a+b

6.0

In [25]:
# 문자열로 형변환 및 b 재할당
a = str(a)
b = '3'

# 문자 + 문자 = 나열
a + b

'33'

In [32]:
# 리스트로 형변환
t = (1,2,3,4)
t2 = list(t)
print(t2, type(t2))

[1, 2, 3, 4] <class 'list'>

In [33]:
# 리스트 자료 추가
t2.append(5)
t2

[1, 2, 3, 4, 5]

In [57]:
# 튜플로 형변환
t3 = tuple(t2)
print(t3, type(t3))

(1, 2, 3, 4, 5) <class 'tuple'>

# input() : 키보드 입력을 받는 함수
- input("화면에 표시될 메시지")
- 입력 받는 값은 " "으로 구분해서 여러개를 받을 수 있음
- 입력 받는 값은 모두 str 타입의 문자열

In [36]:
input_name = input("이름을 입력해 주세요")
print(input_name)

이름을 입력해 주세요홍길동
홍길동

In [51]:
data = input("숫자를 3개 입력해 주세요")
print(data, type(data))

숫자를 3개 입력해 주세요40 52 65
40 52 65 <class 'str'>

In [44]:
# split 적용(리스트)
data2 = input("숫자를 3개 입력해 주세요").split()
print(data2, type(data2))

숫자를 3개 입력해 주세요10 20 30
['10', '20', '30'] <class 'list'>

In [49]:
# 리스트 인덱싱
print(data2[2], type(data2[2]))

30 <class 'str'>

In [53]:
# 정수 형변환 적용 및 연산
int(data2[0]) + int(data2[1])

30

In [56]:
a, b, c, d = input("숫자를 4개 입력해 주세요").split()
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

숫자를 4개 입력해 주세요10 20 30 40
10 <class 'str'>
20 <class 'str'>
30 <class 'str'>
40 <class 'str'>