# 서식지정자, format 메서드
- 문자열로만 입력해야 하는 상황에서 같은 위치에 문자를 여러번 바꿔야 하는 경우 사용
- 문자의 자릿수 맞춤, 위치 정렬에도 사용

## 1. 서식지정자
- %d : 정수를 입력하는 경우
- %s : 문자를 입력하는 경우
- %f : 실수를 입력하는 경우
- %길이s : 길이만큼의 자리수 확보하는 경우
------

### 1) %s : 문자(열) 입력

In [11]:
# 문자열 확인
print('이 수업의 이름은 국어 입니다.')
print('이 수업의 이름은 수학 입니다.')

이 수업의 이름은 국어 입니다.
이 수업의 이름은 수학 입니다.

In [12]:
# %s 적용 및 확인
print('이 수업의 이름은 %s 입니다.' % '국어')

이 수업의 이름은 국어 입니다.

In [10]:
# for문 적용 및 확인
for i in ['국어','수학','사회','영어']:
    print('이 수업의 이름은 %s 입니다.' % i)

이 수업의 이름은 국어 입니다.
이 수업의 이름은 수학 입니다.
이 수업의 이름은 사회 입니다.
이 수업의 이름은 영어 입니다.

### 2) %d : 정수 입력

In [15]:
# %d 적용 및 확인
print('올해는 %d년 입니다.' % 2025)

# %d에 실수를 작성해도 정수로 표시
print('올해는 %d년 입니다.' % 2025.55)

올해는 2025년 입니다.
올해는 2025년 입니다.

### 3) %f : 실수 입력(기본 소숫점 6자리로 표시)

In [26]:
# %f 적용 및 확인
print('사람의 정상 체온은 약 %f도 입니다.'% 36.5)

사람의 정상 체온은 약 36.500000도 입니다.

In [27]:
# 소수점 표기를 조절 -> %소수점자리수f
# 예) 소수점 2자리까지 표시 = %.2f
print('사람의 정상 체온은 약 %.2f도 입니다.'% 36.5)
print('사람의 정상 체온은 약 %.10f도 입니다.'% 36.5)

사람의 정상 체온은 약 36.50도 입니다.
사람의 정상 체온은 약 36.5000000000도 입니다.

### 4) %길이s : 서식지정자로 문자열 자리수 확보

In [35]:
# %길이s 적용 및 확인
print('%10s' % '10자리의 자리수!!!!!!!!!!!')
print('%3s' % '01')

10자리의 자리수!!!!!!!!!!!
 01

In [43]:
# 숫자 표시하는 경우
print('가격은', 150000, '입니다.')
print('가격은', 15000, '입니다.')
print('가격은 %10d 입니다.' % 150000)
print('가격은 %10d 입니다.' % 1500)

가격은 150000 입니다.
가격은 15000 입니다.
가격은     150000 입니다.
가격은       1500 입니다.

### 5) 여러 항목 동시에 넣기

In [44]:
# 여러 항목 적용 및 확인
print('오늘은 %4d년 %2d월 %2d일 입니다.' % (2025, 3, 17))

오늘은 2025년  3월 17일 입니다.

In [46]:
# a, b, c = (2025, 3, 17)
# print(a, b, c)

In [49]:
# 리스트 할당
company = ['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']
stock = [71800, 121000, 195000, 31900, 86600]


# for문 적용 및 확인
for com, st in zip(company, stock):
    print('%s의 주가는 %d 입니다.' % (com,st))

삼성전자의 주가는 71800 입니다.
LG전자의 주가는 121000 입니다.
현대차의 주가는 195000 입니다.
대한항공의 주가는 31900 입니다.
하나투어의 주가는 86600 입니다.

## 2. format 메서드 사용 및 f-sting 문자열 포멧팅

### 1) format  메서드 사용
- "문자열 {인덱스} 문자열끝".format(값)

In [65]:
# format 적용 및 확인
print('{}의 주가는 {}입니다.'.format('삼성전자',71800))
print('{0}의 주가는 {1}입니다.'.format('삼성전자',71800))

삼성전자의 주가는 71800입니다.
삼성전자의 주가는 71800입니다.

In [66]:
# format 인덱싱하여 적용 및 확인
print('{0}의 주가는 {1}원입니다. \n{0}의 상한가는 {3} \n{0}의 하한가는 {2}입니다.'.format('삼성전자', 71500, 50200, 93000))

삼성전자의 주가는 71500원입니다.
삼성전자의 상한가는 93000
삼성전자의 하한가는 50200입니다.

In [67]:
# for문 적용
for com, sto in zip(company, stock):
    print('{}의 주가는 {}입니다.'.format(com,sto))

삼성전자의 주가는 71800입니다.
LG전자의 주가는 121000입니다.
현대차의 주가는 195000입니다.
대한항공의 주가는 31900입니다.
하나투어의 주가는 86600입니다.

### 2) f-sting으로 값 넣기(python 3.6 이하 사용 가능)

In [63]:
# company, stock 확인
print(company)
print(stock)

# f-sting 적용 및 확인
print(f"{company[0]}의 주가는 {stock[0]}입니다.")

# 변수 할당하여 f-sting 적용 및 확인
sam ='삼성전자'
sto = 71800
print(f"{sam}의 주가는 {sto}입니다.")

['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']
[71800, 121000, 195000, 31900, 86600]
삼성전자의 주가는 71800입니다.
삼성전자의 주가는 71800입니다.

In [68]:
# for문 적용 및 호가인
for com, sto in zip(company, stock):
    print(f"{com}의 주가는 {sto}입니다.")

삼성전자의 주가는 71800입니다.
LG전자의 주가는 121000입니다.
현대차의 주가는 195000입니다.
대한항공의 주가는 31900입니다.
하나투어의 주가는 86600입니다.

## 3. format 메서드 및 f-sting으로 문자열 정렬, 자리수 지정 출력
- "{인덱스:<길이}".format(값)
- f"{값:>길이}"

In [72]:
# 공간을 10칸 확보하고 글자를 왼쪽 정렬
"{0:<10}".format('삼성전자')

'삼성전자      '

In [73]:
# 반대로 정렬
# 공간을 10칸 확보하고 글자를 왼쪽 정렬
"{0:>10}".format('삼성전자')

'      삼성전자'

In [74]:
# 공간을 10칸만 확보
'%10s' % '삼성전자'

'      삼성전자'

In [82]:
# f-sting 적용하여 공간 10칸 확보하고 글자 왼쪽 정렬
f"{'삼성전자':<10}"

'삼성전자      '

In [81]:
# f-sting 적용하여 공간 10칸 확보하고 글자 오른쪽 정렬
f"{'삼성전자':>10}"

'      삼성전자'

- 숫자 표기시 숫자 자리수 맞추고 기본 값 지정
- "{인덱스:채울숫자 길이 서식지정자}".format(값), 단 서식지정자에서 %는 빼고 작성
- f"{값:채울숫자/길이/서식지정}" %는 빼고 작성

In [88]:
print("{0}월".format(1))

# 0으로 2자리를 채워서 정수로 표시 
print('{0:02d}월'.format(1))

# 2자리수가 채워져 있는 경우에는 그대로 표시
print('{0:02d}월'.format(12))

1월
01월
12월

In [92]:
# f-sting 적용하여 2자리를 0으로 채워서 10표시
print(f'{10:02d}월')

10월

- 실수의 정수 자리수와 소수점 자리수 지정
- "{인덱스:기본값/자리수/서식지정자}".format(값)
- f"{값:기본값/자리수/서식지정자}"
- 실수에서 자리수는 정수 + . + 소수점

In [93]:
# 실수 자리수와 소수점 지정 적용
print('{0:03.3f}'.format(2.245678))

2.246

In [100]:
# 실수 자리수와 소수점 지정 적용
print('{0:06.3f}'.format(2.245678))
print('{0:07.3f}'.format(2.245678))
print('{0:07.6f}'.format(2.245678))

02.246
002.246
2.245678

In [106]:
import time
# 00시 00분부터 11시 59분까지 출력, 1자리는 01 형식으로 출력
for si in range(0,12):
    #print(f"{si:02d}시")
     for bun in range(0,60):
            print(f"{si:02d}시 {bun:02d}분", end = '\r')
            time.sleep(0.002)

- 공백을 원하는 문자로 채우고 자리수 맞추는 경우
- {인덱스:원하는 숫자/문자><자리수}.format(값)
- f"{값:원하는 숫자/문자><자리수}"

In [107]:
"{0:0>4}".format(1)

'0001'

In [109]:
"{0:$>4}".format('1달러')

'$1달러'

In [114]:
f"{'1000000달러':$>10}"

'$1000000달러'

In [120]:
url = 'https://finance.naver.com/sise/sise_trans_style.naver?sosok='
url + '03'

'https://finance.naver.com/sise/sise_trans_style.naver?sosok=03'

In [125]:
# for문 적용하여 url 확인
for i in range(1,11):
    print(f"{url}{i:02d}")

https://finance.naver.com/sise/sise_trans_style.naver?sosok=01
https://finance.naver.com/sise/sise_trans_style.naver?sosok=02
https://finance.naver.com/sise/sise_trans_style.naver?sosok=03
https://finance.naver.com/sise/sise_trans_style.naver?sosok=04
https://finance.naver.com/sise/sise_trans_style.naver?sosok=05
https://finance.naver.com/sise/sise_trans_style.naver?sosok=06
https://finance.naver.com/sise/sise_trans_style.naver?sosok=07
https://finance.naver.com/sise/sise_trans_style.naver?sosok=08
https://finance.naver.com/sise/sise_trans_style.naver?sosok=09
https://finance.naver.com/sise/sise_trans_style.naver?sosok=10