# 딕셔너리 사용 연습문제 30개

1. **빈 딕셔너리 `empty_dict`를 생성하고 출력하세요.**

In [1]:
empty_dict = {}
empty_dict

# 다른 풀이
# empty_dict = dict()

{}

2. **다음과 같은 딕셔너리를 생성하고 출력하세요.**  
   ```python
   person = {"name": "Alice", "age": 25, "city": "Seoul"}
 
   ```

In [8]:
# 내 풀이 : 이렇게 생성하는 것도 가능하지만 밑의 방법 활용하기
# person = {"name": "Alice", "age": 25, "city": "Seoul"}

# 다른 풀이_1
person = dict(name='Alice', age=25, city='Seoul')
person

{'name': 'Alice', 'age': 25, 'city': 'Seoul'}

In [9]:
# 다른 풀이_2
person = dict([('name','Alice'),('age',25),('city','Seoul')])
person

{'name': 'Alice', 'age': 25, 'city': 'Seoul'}

In [10]:
# 다른 풀이_3
person = dict(zip(['name','age','city'],['Alice',25,'Seoul']))
person

{'name': 'Alice', 'age': 25, 'city': 'Seoul'}

3. **딕셔너리 `person`에서 `"name"` 키의 값을 출력하세요.**  
```python
Alice
```

In [24]:
# 내 풀이
print(person['name'])

# 다른 풀이
person.get('name', 'key 없음')

Alice

'Alice'

4. **딕셔너리 `person`에서 `"age"` 키의 값을 출력하세요.**  
   ```python
   25
   ```

In [25]:
# 내 풀이
print(person['age'])

# 다른 풀이
person.get('age', 'key 없음')

25

25

5. **딕셔너리 `person`에 `"job": "Engineer"`를 추가하고 출력하세요.**  
   ```python
   {"name": "Alice", "age": 25, "city": "Seoul", "job": "Engineer"}
   ```

In [18]:
# 내 풀이
person['job'] = 'Engineer'
person

# 다른 풀이
# person.setdefault('job', 'Engineer')

{'name': 'Alice', 'age': 25, 'city': 'Seoul', 'job': 'Engineer'}

6. **딕셔너리 `person`에서 `"city"`의 값을 `"Busan"`으로 변경하고 출력하세요.**  
   ```python
{"name": "Alice", "age": 25, "city": "Busan", "job": "Engineer"}
   
   ```

In [20]:
# 내 풀이
person['city'] = 'Busan'
person

{'name': 'Alice', 'age': 25, 'city': 'Busan', 'job': 'Engineer'}

In [22]:
# 다른 풀이
person['city'] = 'Seoul'
person.update(city='Busan')
person

{'name': 'Alice', 'age': 25, 'city': 'Busan', 'job': 'Engineer'}

7. **딕셔너리 `person`에서 `"age"` 키를 삭제하고 출력하세요.**  
   ```python
   {"name": "Alice", "city": "Busan", "job": "Engineer"}
   ```

In [26]:
# 내 풀이
del person['age']
person

{'name': 'Alice', 'city': 'Busan', 'job': 'Engineer'}

In [27]:
# 다른 풀이
# person.pop('age')

8. **딕셔너리 `person`의 모든 키를 출력하세요.**  
   ```python
   dict_keys(['name', 'city', 'job'])
   ```

In [32]:
# 내 풀이
person.keys()

dict_keys(['name', 'city', 'job'])

In [33]:
# 다른 풀이
for key in person:
    print(key)

name
city
job

9. **딕셔너리 `person`의 모든 값(value)을 출력하세요.**  
   ```python
   dict_values(['Alice', 'Busan', 'Engineer'])
   ```

In [36]:
# 내 풀이
person.values()

dict_values(['Alice', 'Busan', 'Engineer'])

In [38]:
# 다른 풀이
for i in person:
    print(person[i])

Alice
Busan
Engineer

10. **딕셔너리 `person`의 모든 키-값 쌍을 출력하세요.**  
    ```python
    dict_items([('name', 'Alice'), ('city', 'Busan'), ('job', 'Engineer')])
    ```

In [46]:
# 내 풀이
person.items()

dict_items([('name', 'Alice'), ('city', 'Busan'), ('job', 'Engineer')])

In [47]:
# 다른 풀이
for i in person:
    print((i, person[i]))

('name', 'Alice')
('city', 'Busan')
('job', 'Engineer')

In [49]:
# 다른 풀이_리스트 할당
dict_items = []
for i in person:
    dict_items.append((i, person[i]))
print(dict_items)

[('name', 'Alice'), ('city', 'Busan'), ('job', 'Engineer')]

11. **`"email"` 키가 딕셔너리 `person`에 존재하는지 확인하세요.**  
    ```python
 False
    ```

In [53]:
# 내 풀이
'email' in person

False

12.**`person`에서 `"job"`을 제거하고 출력하세요.**  
    
```python
"Engineer",
{'name': 'Alice', 'city': 'Busan'}
```

In [21]:
# 내 풀이
person.pop('job')
person

Engineer
{'name': 'Alice', 'city': 'Busan'}

13. **`person` 딕셔너리의 모든 키-값 쌍을 초기화하고 출력하세요.**  
    ```python
    {}
    ```

In [57]:
# clear() : 딕셔너리의 모든 키-값 초기화
person.clear()
person

{}

In [58]:
# 리스트 적용 가능
l1 = [1,2,3,4,5,6]
print(l1)

l1.clear()
print(l1)

[1, 2, 3, 4, 5, 6]
[]

14. **중첩 딕셔너리를 student 변수에 생성하고 출력하세요.**  
```python
{"name": "Bob",
 "grades": {"math": 85, "science": 90, "history": 80}
}
```

In [56]:
# 내 풀이
student = {"name": "Bob",
 "grades": {"math": 85, "science": 90, "history": 80}
}
student

{'name': 'Bob', 'grades': {'math': 85, 'science': 90, 'history': 80}}

In [66]:
# 다른 풀이
student = dict(
    name='Bob', 
    grades=dict(math=85, science=90, history=80)
)

student

{'name': 'Bob', 'grades': {'math': 85, 'science': 90, 'history': 80}}

15.**student에서 "science" 점수를 출력하세요.**  
```python
90
```

In [67]:
student['grades']['science']

90

16. **`student`의 `"grades"`에 `"english": 95`를 추가하고 출력하세요.**  
    ```python
    {'math': 85, 'science': 90, 'history': 80, 'english': 95}
    ```

In [68]:
student['grades']['english'] = 95
student

{'name': 'Bob',
 'grades': {'math': 85, 'science': 90, 'history': 80, 'english': 95}}

17. **`student`의 `"math"` 점수를 88로 변경하고 출력하세요.**  
    ```python
    {'math': 88, 'science': 90, 'history': 80, 'english': 95}
    ```

In [69]:
student['grades']['math'] = 88
student['grades']

{'math': 88, 'science': 90, 'history': 80, 'english': 95}

18. **`student`에서 `"history"` 점수를 삭제하고 출력하세요.**  
    ```python
    {'math': 88, 'science': 90, 'english': 95}
    ```

In [70]:
del student['grades']['history']
student['grades']

{'math': 88, 'science': 90, 'english': 95}

19. **딕셔너리 `student`에서 setdefault를 이용하여 `"total"`이란 키를 만들고 math, science, english의 합계를 입력하세요. 단, 합계를 구할 때 값을 수동입력 하지 말고 딕셔너리에서 추출해서 더하도록 하세요.**  
    ```python
    {'name': 'Bob',
    'grades': {'math': 85, 'science': 90, 'english': 95},
    'total': 270}
    ```

In [74]:
# 내 풀이
# student.setdefault('total', student['grades']['math'] + student['grades']['science'] + student['grades']['english'])
# student

# 다른 풀이
student.setdefault('total', sum(student['grades'].values()))
print(student)

{'name': 'Bob', 'grades': {'math': 88, 'science': 90, 'english': 95}, 'total': 273}

20. **딕셔너리 `student`에서 update를 이용하여 'english' 는 100, 'history'는 80를 입력하세요.**  
```python
 {'name': 'Bob',
 'grades': {'math': 85, 'science': 90, 'english': 100, 'history': 80},
 'total': 270}
```

In [75]:
# 내 풀이
student['grades'].update(english=100)
student['grades'].update(history=80)
# student['grades'].update(english=100, history=80)

In [77]:
student

{'name': 'Bob',
 'grades': {'math': 88, 'science': 90, 'english': 100, 'history': 80},
 'total': 273}

In [84]:
# student3 추가해서 바꿔보기
student3 =  {'name': 'Bob',
             'grades': {'math': 85, 'science': 90, 'english': 100, 'history': 80},
             'name2': 'Alice',
             'grades2': {'math': 95, 'science': 80, 'english': 97, 'history': 75}}
print(student3)

print('-'*70)

# Alice의 영어 성적을 88로 변경
student3['grades2'].update(english=88)
student3['grades2']

{'name': 'Bob', 'grades': {'math': 85, 'science': 90, 'english': 100, 'history': 80}, 'name2': 'Alice', 'grades2': {'math': 95, 'science': 80, 'english': 97, 'history': 75}}
----------------------------------------------------------------------

{'math': 95, 'science': 80, 'english': 88, 'history': 75}

21.**courses라는 변수에 dict() 함수를 사용하여 다음과 같은 딕셔너리를 생성하세요.**
```python
{'programming': {'python': 50, 'java': 30, 'Cpp': 20},
 'design': {'Photoshop': 25, 'Illustrator': 15}}
```

In [85]:
# 내 풀이
courses = dict(
        programing=dict(python=50, java=30, Cpp=20),
        design=dict(Photoshop=25, Illustrator=15)
)
courses

{'programing': {'python': 50, 'java': 30, 'Cpp': 20},
 'design': {'Photoshop': 25, 'Illustrator': 15}}

22. **"python"의 수강생 수를 출력하세요.**  
```python
50
```

In [44]:
courses['programing']['python']

50

23. **딕셔너리 `courses`에서 `"Cpp"` 수강생 수를 25로 변경하고 출력하세요.**  
    ```python
    {'python': 50, 'java': 30, 'Cpp': 25}
    ```

In [45]:
courses['programing']['Cpp'] = 25
courses['programing']

{'python': 50, 'java': 30, 'Cpp': 25}

24. **딕셔너리 `courses`에서 `"Photoshop"` 수강생 수를 삭제하고 출력하세요.**  
    ```python
{'programming': {'python': 50, 'java': 30, 'Cpp': 25},
 'design': {'Illustrator': 15}}
    ```

In [87]:
# 내 풀이
del courses['design']['Photoshop']

# 다른 풀이
# courses['design'].pop('Photoshop')

25

In [88]:
courses

{'programing': {'python': 50, 'java': 30, 'Cpp': 20},
 'design': {'Illustrator': 15}}

25. **딕셔너리 `courses`에서 `"JavaScript": 40`을 `"programming"` 항목에 추가하고 출력하세요.**  
    ```python
    {'python': 50, 'java': 30, 'Cpp': 25, 'JavaScript': 40}
    ```

In [89]:
# 내 풀이
courses['programing']['JavaScript']=40

# 다른 풀이
# courses['programing'].setdefault('JavaScript',40)

40

In [90]:
courses['programing']

{'python': 50, 'java': 30, 'Cpp': 20, 'JavaScript': 40}

26. **딕셔너리 `courses`의 모든 과목명을 출력하세요.**  
    ```python
    dict_keys(['programming', 'design'])
    ```

In [91]:
courses.keys()

dict_keys(['programing', 'design'])

In [98]:
# key 출력
for i in courses:
    print(i)

print('-'*80)

# value 출력
for i in courses:
    print(courses[i])

programing
design
--------------------------------------------------------------------------------
{'python': 50, 'java': 30, 'Cpp': 20, 'JavaScript': 40}
{'Illustrator': 15}

27. **딕셔너리 `courses`에서 `"design"` 과목의 모든 정보를 출력하세요.**  
    ```python
    {'Illustrator': 15}
    ```

In [99]:
courses['design']

{'Illustrator': 15}

28. **딕셔너리 `courses`에서 `"design"` 항목을 삭제하고 전체 딕셔너리를 출력하세요.**  
    ```python
    {'programming': {'python': 50, 'java': 30, 'Cpp': 25, 'JavaScript': 40}}
    ```

In [100]:
# 내 풀이
del courses['design']

# 다른 풀이
# courses.pop('design')

In [101]:
courses

{'programing': {'python': 50, 'java': 30, 'Cpp': 20, 'JavaScript': 40}}

29. **딕셔너리 `courses`에서 `"programming"` 항목이 존재하는지 확인하세요.**  
    ```python
    True
    ```

In [103]:
'programing' in courses

True

In [105]:
print('Cpp' in courses)
print('Cpp' in courses['programing'])

False
True

In [108]:
# key와 그 안의 값도 같이 고려
for key in courses:
#     print(key)
    if 'Cpp' in  key:
        print(True)
    elif 'Cpp' in courses[key]:
        print(True)
    else:
        print(False)

True

30. **딕셔너리 `courses`에서 `"design"` 항목을 출력하고 `"design"` 이 없다면 design key 없음 이라고 출력하도록 하세요.** 
```python
design key 없음
```

In [109]:
# 내 풀이
if 'design' in courses:
    print(courses['design'])
else:
    print('design key 없음')
    
# 다른 풀이
courses.get('design', 'design key 없음')

design key 없음

'design key 없음'