# 파이썬 기초 문법
- 파이썬 주석은 문장 앞에 #을 붙여서 만든다
- 파이썬은 들여쓰기를 사용해서 코드를 구분해 작성
- 들여쓰기는 4칸이 기본, google colab은 2칸으로 설정
- 변수를 만들때 스네이크 표기법을 사용
    - 예) user_name
- 클래스 만드는 경우 카멜 표기법을 사용 
    - 예) UserName, userName(js)

# print 문
- print함수 안에 있는 내용을 출려해주는 함수
- print('출력할 내용') : 출력할 내용이 문자, 문자열인 경우 반드시 따옴표 필요
- print(출력할 내용) : 출력할 내용이 숫자, 변수인 경우 따옴표 X

In [3]:
print('Hello World!')
print(3.14)

a='Hello'
print(a)

Hello World!
3.14
Hello

In [5]:
# 따옴표까지 같이 출력하고 싶은 경우 섞어서 사용
print("이것은 '파이썬'이다.")
print('이것은 "파이썬"이다.')

이것은 '파이썬'이다.
이것은 "파이썬"이다.

# print문의 옵션
- sep : 구분자 - print문 안에 여러 개의 자료를 출력하는 경우 자료 구분 문자
- 기본값은 " " - 공백

In [1]:
#공백으로 표시됨
print("이것은", '파이썬', "입니다.")


#공백 자리에 sep에서 정한 값이 들어가게됨
print("이것은", '파이썬', "입니다.", sep='_')
print("헐크", '아이언맨', "스파이더맨", sep='vs ')

이것은 파이썬 입니다.
이것은_파이썬_입니다.
헐크vs 아이언맨vs 스파이더맨

- end 옵션 - print가 끝나고 실행될 옵션
- 기본값
    - " "(공백)
    - \t
    - \r : carrige return
    - \n : new line 새줄

In [25]:
print("헐크", '아이언맨', "스파이더맨", sep='vs ')

# end=" " (공백)
print("헐크", '아이언맨', "스파이더맨", sep='vs ', end=" ")
print("헐크", '아이언맨', "스파이더맨", sep='vs ')
print('-'*80)

# end="\t"(tab)
print("헐크", '아이언맨', "스파이더맨", sep='vs ', end="\t")
print("헐크", '아이언맨', "스파이더맨", sep='vs ')
print('-'*80)

# end="\r"(carrige return)
print("헐크", '아이언맨', "스파이더맨", sep='vs ', end="\r")
print("헐크", '아이언맨', "스파이더맨", sep='vs ')
print('-'*80)

# end="\n"(new line)
print("헐크", '아이언맨', "스파이더맨", sep='vs ', end="\n")
print("헐크", '아이언맨', "스파이더맨", sep='vs ')

헐크vs 아이언맨vs 스파이더맨
헐크vs 아이언맨vs 스파이더맨 헐크vs 아이언맨vs 스파이더맨
--------------------------------------------------------------------------------
헐크vs 아이언맨vs 스파이더맨	헐크vs 아이언맨vs 스파이더맨
--------------------------------------------------------------------------------
헐크vs 아이언맨vs 스파이더맨
--------------------------------------------------------------------------------
헐크vs 아이언맨vs 스파이더맨
헐크vs 아이언맨vs 스파이더맨

# 함수의 옵션 보기
- 함수의 옵션은 괄호 안에 커서를 놓고 shift+tap으로 확인 가능

In [5]:
# shift + tap
print()

# 변수
- 자료를 담는 상자
- 상자는 1개만 넣을 수 있음
- 변수는 영문과 숫자를 조합하여 생성 가능
- 변수명의 시작은 반드시 영문자로 지정
- 변수명이 숫자나 '-' 등의 특수문자로 시작하면 오류 발생
- 예약어(이미 파이썬에서 사용하고 있는 함수명, 문법용 단어)는 변수명으로 사용X
    - for
    - list
    - if ...
    - 예약어를 써도 파이썬에서는 변수 생성 가능(주의!!!)
    - 예약어를 잘 기억하여 겹치지 않도록 노력

In [1]:
a = 1
id(a)

2364602870064

In [30]:
# id = 3
# print(id)

# 예약어를 사용X
#id(id)

TypeError: 'int' object is not callable

- 변수명은 스네이크 표기법으로 생성
- 변수명 = 자료
- =는 같다라는 표시가 X, 등호 오른쪽의 자료를 왼쪽 변수에 할당 의미

# 변수에는 자료가 1개만 삽입 가능

In [3]:
a = 1
print(a)

a = 3
print(a)

c = "문자열은 길이에 상관없이 삽입 가능"
print(c)

1
3
문자열은 길이에 상관없이 삽입 가능

In [11]:
# 변수명은 스네이크 표기법으로 생성
user_name = "핀테크님"
print(user_name)

# 문자로 입력
b = "3"
print(b)

# 숫자와 문자 구분 X
print(a,b)

# 스네이크 표기법( _ 사용 가능) 
b_ = 24
print(b_)

핀테크님
3
3 3
24

# 변수를 여러 개 한 번에 생성

In [18]:
a = 1
b = 3
print(a,b)

1 3

In [19]:
a, b, c = 1,3,'오'
print(a,b,c)

1 3 오

# del 변수명 : 변수 삭제

In [12]:
print(b_)
del b_

24

In [13]:
# 삭제되어 정의되지 않는다고 나옴
b_

NameError: name 'b_' is not defined