# 문자열과 문자열 함수

## 1. 문자열 사용하기의 기본
- "", '' 따옴표 안에 문자를 넣어서 문자열 생성
- 여러 줄로 된 문자열은 """  """ 나 ''' ''' 로 생성
- 자동으로 \n 과 " " 이 적용되어 입력한 그대로 출력

In [4]:
# 문자열 변수 할당 및 확인
a = "hello world"
a

'hello world'

In [5]:
# 문자열 변수 할당 및 확인
a2 = """
안녕하세요.
python 수업입니다.
잘 부탁드립니다.
"""

print(a2)

안녕하세요.
python 수업입니다.
잘 부탁드립니다.

### 이스케이프 문자
- \n 줄바꿈
- \t tap
- \r carrige return
- 문자열 안에서 특수문자를 출력하고 싶을 때 \+특수문자 형태로 입력

In [6]:
# 문자열 변수 할당 및 확인
# \n 활용
h1 = "파이썬에서 줄바꿈은 \\n으로 합니다. \n\n\n3줄 줄바꿈"
print(h1)

파이썬에서 줄바꿈은 \n으로 합니다.


3줄 줄바꿈

In [10]:
# 문자열 변수 할당 및 확인
# \t 활용
h2 = "탭으로 공간을 띄우는 것은 \\t \t로 합니다."
print(h2)

탭으로 공간을 띄우는 것은 \t 	로 합니다.

In [9]:
# 문자열 변수 할당 및 확인
# \r 활용
h3 = "캐리지 리턴은 \\r입니다. \n 커서가 같은 줄 가장 앞으로 이동하기 때문에 \r 글자가 겹쳐져서 지워졌습니다."
print(h3)

캐리지 리턴은 \r입니다.
 글자가 겹쳐져서 지워졌습니다.

## 인덱스와 문자열
- 문자 : 글자 1개
- 문자열 : 글자가 여러개 => 순서 존재 => 앞에서부터 0번~n번 순으로 번호가 매겨짐
- 순서가 있는 자료는 번호를 붙여서 그 번호에 해당하는 자료 추출 가능

In [11]:
# 문자열 변수 할당 및 확인
h4 = "문자열은 외쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다."
print(h4)

문자열은 외쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다.

In [15]:
# h4 문자열에서 첫번째 글자를 추출하세요.
h4[0]

'문'

In [16]:
# h4 문자열에서 앞에서부터 5글자를 추출하세요.
h4[0:5]

'문자열은 '

In [17]:
# 인덱스 10번부터 21번까지 추출하세요
h4[10:22]

'번호를 매길 수 있으며'

In [18]:
# len() : 문자열의 길이 재는 경우 사용
len(h4)

36

- 순서가 있는 자료의 인덱스는 앞에서부터 0번~n번
- 뒤에서부터 -1~-n번
-  슬라이싱 시 시작과 끝은 생략가능

In [24]:
# 문자열의 끝에서 10개를 가져오고 싶은 경우
print(h4[-11:-1])

# 문자열 앞에서 10개를 가져오고 싶은 경우
# h4[0:11] = h4[:11]
h4[:11]

은 0번부터 입니다

'문자열은 외쪽부터 번'

In [25]:
# 뒤에서부터 10개 가져올 때
print(h4[-11:])

# 시작인덱스와 끝 인덱스를 모두 생략한 경우
h4[:]

은 0번부터 입니다.

'문자열은 외쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다.'

## 슬라이싱 [시작인덱스:끝인덱스+1:step]

In [26]:
# h4 확인
print(h4)

# h4 뒤에서부터 확인
h4[::-1]

문자열은 외쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다.

'.다니입 터부번0 은작시 며으있 수 길매 를호번 터부쪽외 은열자문'

## 문자열 함수
- .replace(): 값을 찾아서 바꾸는 함수
- .split(): 공백을 기준으로 자료를 나눠서 리스트로 변환
- .join(): 기준자를 통해서 리스트를 하나의 문자열로 변환
- .strip(): 문자열 외부의 공백제거, 공백+특수문자 제거

## 문자열 바꾸기 replace(찾을 값, 바꿀값)
* replace 함수는 사용 후 결과를 활용하기 위해 재할당 필요

In [28]:
# 문자열 변수 할당 및 확인
h5 = "Hello Python"
h5

'Hello Python'

In [30]:
# replace 활용
h5 = h5.replace("Python", 'World')
h5

'Hello World'

##  split()
- 공백을 기준으로 자료를 나눠서 list로 생성
- 구분자를 따로 지정해서 사용 가능

In [55]:
# 문자열 변수 할당 및 데이터와 타입 확인
h6 = "문자열은, 왼쪽부터, 번호를, 매길, 수, 있으며, 시작은, 0번부터, 입니다."
print(h6, type(h6))

문자열은, 왼쪽부터, 번호를, 매길, 수, 있으며, 시작은, 0번부터, 입니다. <class 'str'>

In [91]:
# split 적용
splited_h6 = h6.split()
print(splited_h6)

# split된 문자열 인덱싱 
splited_h6[0]

['문자열은', '왼쪽부터', '번호를', '매길', '수', '있으며', '시작은', '0번부터', '입니다.']

'문자열은'

In [57]:
# split 적용 : (", ")
h6 = h6.split(", ")
print(h6, type(h6))

['문자열은', '왼쪽부터', '번호를', '매길', '수', '있으며', '시작은', '0번부터', '입니다.'] <class 'list'>

## join()
- 리스트, 튜플을 하나의 문자열로 합치는 함수
- 합칠기준.join(list/tuple)

In [58]:
# h6 확인
print(h6,'\n')

# join 적용
print(" ".join(h6))

['문자열은', '왼쪽부터', '번호를', '매길', '수', '있으며', '시작은', '0번부터', '입니다.']

문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다.

In [59]:
# join 적용
print(", ".join(h6),'\n')
print(" : ".join(h6),'\n')
print(" $$ ".join(h6))

문자열은, 왼쪽부터, 번호를, 매길, 수, 있으며, 시작은, 0번부터, 입니다.

문자열은 : 왼쪽부터 : 번호를 : 매길 : 수 : 있으며 : 시작은 : 0번부터 : 입니다.

문자열은 $$ 왼쪽부터 $$ 번호를 $$ 매길 $$ 수 $$ 있으며 $$ 시작은 $$ 0번부터 $$ 입니다.

In [60]:
# h6 재할당 및 데이터와 데이터 타입 확인
h6 = " ".join(h6)
print(h6, type(h6))

문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다. <class 'str'>

## 소문자 / 대문자 변환 함수
- upper() : 소문자를 대문자로
- lower() : 대문자를 소문자로

In [63]:
# 문자열 변수 할당 및 확인
h7 = "iron-man spider-man hulk"
h7

'iron-man spider-man hulk'

In [66]:
# upper 적용
h7.upper()

# h7 재할당 및 확인
h7 = h7.upper()
h7

'IRON-MAN SPIDER-MAN HULK'

In [68]:
# lower 적용
h7.lower()

# h7 재할당
h7 = h7.lower()
h7

'iron-man spider-man hulk'

## 왼쪽, 오른쪽, 양쪽 공백/특정 문자 제거
- lstrip(): 왼쪽 공백 삭제
- rstrip(): 오른쪽 공백 삭제
- strip(): 양쪽 공백 삭제

In [70]:
# 공백이 있는 문자열 할당
h8 = "    공백이 있는 문자열    "
h8

'    공백이 있는 문자열    '

In [71]:
# 왼쪽 공백 제거
h8.lstrip()

'공백이 있는 문자열    '

In [72]:
# 오른쪽 공백 제거
h8.rstrip()

'    공백이 있는 문자열'

In [78]:
# 양쪽 공백 제거
print(h8.strip(),'\n')

# replace : 공백1칸 -> 공백X
print(h8.strip().replace(" ", ""),'\n')

# replace : 공백2칸 -> 1칸
h8.replace("   ","")

공백이 있는 문자열

공백이있는문자열

' 공백이 있는 문자열 '

In [83]:
# 공백과 특수문자 동시에 있는 문자열 할당
h9 = "... ,   공백과 특수문자가 같이 있는 문자열 !! ^^ ㅋㅋㅋㅋ  "
h9

'... ,   공백과 특수문자가 같이 있는 문자열 !! ^^ ㅋㅋㅋㅋ  '

In [80]:
# 왼쪽 공백 및 특수문자 제거
h9.lstrip("., ")

'공백과 특수문자가 같이 있는 문자열 !! ^^ ㅋㅋㅋㅋ  '

In [81]:
# 오른쪽 공백 및 특수문자 제거
h9.rstrip("!^ㅋ ")

'... ,   공백과 특수문자가 같이 있는 문자열'

In [82]:
# 양쪽 공백 및 특수문자 제거
h9.strip(".,!^ㅋ ")

'공백과 특수문자가 같이 있는 문자열'

## method chaining (메서드 체이닝)
- 여러개의 함수를 연결하여 사용

In [86]:
# 공백과 특수문자, 이스캐이프 문자 동시에 있는 문자열 할당
h10 = "... ,   공백과 특수문자가\n 같이 있는\t 문자열 !! ^^ ㅋㅋㅋㅋ  "
h10

'... ,   공백과 특수문자가\n 같이 있는\t 문자열 !! ^^ ㅋㅋㅋㅋ  '

In [87]:
# 양쪽 공백 제거 및 이스캐이프 문자 replace 적용
h10.strip(".,!^ㅋ ").replace("\n","").replace("\t", "")

'공백과 특수문자가 같이 있는 문자열'

## 문자열 처리 연습문제
- 리뷰 글 부분만 추출
- 1개의 문장으로 만들기
- 문자열 함수를 이용해 특수문자와 불필요한 공백 지우기

In [106]:
## 가장 빠른 풀이법
test1 = '''344,622642,더 호텔 수 (THE HOTEL SOO),family,1박 가족 여행,2018년 5월 21일,8.0,"위치 : 이순신 광장과는 반대편이라 차량으로 이동해야 합니다. 루프탑에서의
바다 경치는 좋습니다.
시설 : 깔끔하고 좋습니다. 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다. 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다.        
루프탑 : 바베큐 세트가 저렴 했던거 같고 경치가 좋습니다. 수영장도 있었는데 계절이 아닌지.... 
    하지만 여름이면 좋을것 같습니다. 주차장은 장소가 넓지 않았던거 같고, 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다.    
주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데... 2층이라 마음에 들지 않았습니다. 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다......................................'''

test1

'344,622642,더 호텔 수 (THE HOTEL SOO),family,1박 가족 여행,2018년 5월 21일,8.0,"위치 : 이순신 광장과는 반대편이라 차량으로 이동해야 합니다. 루프탑에서의\n바다 경치는 좋습니다.\n시설 : 깔끔하고 좋습니다. 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다. 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다.        \n루프탑 : 바베큐 세트가 저렴 했던거 같고 경치가 좋습니다. 수영장도 있었는데 계절이 아닌지.... \n    하지만 여름이면 좋을것 같습니다. 주차장은 장소가 넓지 않았던거 같고, 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다.    \n주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데... 2층이라 마음에 들지 않았습니다. 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다......................................'

In [107]:
# split 적용(공백이 있는 경우를 나눠 list 생성) 및 재할당 
test1 = test1.split(",")
test1

['344',
 '622642',
 '더 호텔 수 (THE HOTEL SOO)',
 'family',
 '1박 가족 여행',
 '2018년 5월 21일',
 '8.0',
 '"위치 : 이순신 광장과는 반대편이라 차량으로 이동해야 합니다. 루프탑에서의\n바다 경치는 좋습니다.\n시설 : 깔끔하고 좋습니다. 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다. 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다.        \n루프탑 : 바베큐 세트가 저렴 했던거 같고 경치가 좋습니다. 수영장도 있었는데 계절이 아닌지.... \n    하지만 여름이면 좋을것 같습니다. 주차장은 장소가 넓지 않았던거 같고',
 ' 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다.    \n주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데... 2층이라 마음에 들지 않았습니다. 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다......................................']

In [108]:
# test1의 len 확인
print(len(test1),'\n')

# 필요한 부분만 추출하여 재할당 및 확인
test1 = test1[7:]
test1

9

['"위치 : 이순신 광장과는 반대편이라 차량으로 이동해야 합니다. 루프탑에서의\n바다 경치는 좋습니다.\n시설 : 깔끔하고 좋습니다. 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다. 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다.        \n루프탑 : 바베큐 세트가 저렴 했던거 같고 경치가 좋습니다. 수영장도 있었는데 계절이 아닌지.... \n    하지만 여름이면 좋을것 같습니다. 주차장은 장소가 넓지 않았던거 같고',
 ' 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다.    \n주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데... 2층이라 마음에 들지 않았습니다. 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다......................................']

In [109]:
# test1에서 len 확인 
len(test1)

# join 적용하여 재할당 및 확인
test1 = " ".join(test1)
test1

'"위치 : 이순신 광장과는 반대편이라 차량으로 이동해야 합니다. 루프탑에서의\n바다 경치는 좋습니다.\n시설 : 깔끔하고 좋습니다. 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다. 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다.        \n루프탑 : 바베큐 세트가 저렴 했던거 같고 경치가 좋습니다. 수영장도 있었는데 계절이 아닌지.... \n    하지만 여름이면 좋을것 같습니다. 주차장은 장소가 넓지 않았던거 같고  저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다.    \n주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데... 2층이라 마음에 들지 않았습니다. 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다......................................'

In [114]:
# 공백 및 특수문자 처리 및 replace 적용하여 재할당 및 확인
test1 = test1.strip(".'\" ").replace(":", "").replace("\n", "").replace(".", "").replace("  ", " ").replace("  ", "")
test1

'위치 이순신 광장과는 반대편이라 차량으로 이동해야 합니다 루프탑에서의바다 경치는 좋습니다시설 깔끔하고 좋습니다 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다루프탑 바베큐 세트가 저렴 했던거 같고 경치가 좋습니다 수영장도 있었는데 계절이 아닌지 하지만 여름이면 좋을것 같습니다 주차장은 장소가 넓지 않았던거 같고 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데 2층이라 마음에 들지 않았습니다 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다'

# translate + str.maketrans + string.punctuation
- translate(str.maketrans(찾을문자, 대체문자, 그 외 없앨 문자))

In [111]:
import string

In [112]:
# 불필요한 문자 모음
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [115]:
# test2 : 호텔 리뷰 데이터 할당 및 확인
test2= "18062,427535,파크 하얏트 부산 (Park Hyatt Busan),family,2박 가족 여행,2019년 12월 29일,10.0,결혼 1주년 기념으로 아이랑 신랑이랑 다녀왔어요~ 룸컨디션 너무 좋았고 뷰가 최고였습니다! 2박 머물렀는데 청소도 깔끔하게 해주시고 애기가 이불에 살짝 토했는데도 바로 갈아주시고 좋았습니다~ 대신 창가쪽 커튼 한쪽이 떨어져있어서 조금 거슬렸구요... 창가에 침실이 있다보니 암막커튼을 치지 않으면 조금 쌀쌀한 느낌은 있었어요! 아 그리고 아기때문에 침대에 가드를 부탁드렸는데 가드가 너무 별로였습니다... 가드 구실을 못하고 넘 허술하게 매트리스 아래 그냥 끼워진거라 아기가 밤새 두번이나 가드사이에 빠졌습니다... 이점 좀 아쉬워요 ! 그 외에는 다이닝룸 리빙룸, 바까지 모두 이용했는데 서비스 좋았습니다~~!"
test2

'18062,427535,파크 하얏트 부산 (Park Hyatt Busan),family,2박 가족 여행,2019년 12월 29일,10.0,결혼 1주년 기념으로 아이랑 신랑이랑 다녀왔어요~ 룸컨디션 너무 좋았고 뷰가 최고였습니다! 2박 머물렀는데 청소도 깔끔하게 해주시고 애기가 이불에 살짝 토했는데도 바로 갈아주시고 좋았습니다~ 대신 창가쪽 커튼 한쪽이 떨어져있어서 조금 거슬렸구요... 창가에 침실이 있다보니 암막커튼을 치지 않으면 조금 쌀쌀한 느낌은 있었어요! 아 그리고 아기때문에 침대에 가드를 부탁드렸는데 가드가 너무 별로였습니다... 가드 구실을 못하고 넘 허술하게 매트리스 아래 그냥 끼워진거라 아기가 밤새 두번이나 가드사이에 빠졌습니다... 이점 좀 아쉬워요 ! 그 외에는 다이닝룸 리빙룸, 바까지 모두 이용했는데 서비스 좋았습니다~~!'

In [116]:
# split 및 인덱싱 적용하여 join 적용하여 재할당
test2 = " ".join(test2.split(",")[7:])
test2

'결혼 1주년 기념으로 아이랑 신랑이랑 다녀왔어요~ 룸컨디션 너무 좋았고 뷰가 최고였습니다! 2박 머물렀는데 청소도 깔끔하게 해주시고 애기가 이불에 살짝 토했는데도 바로 갈아주시고 좋았습니다~ 대신 창가쪽 커튼 한쪽이 떨어져있어서 조금 거슬렸구요... 창가에 침실이 있다보니 암막커튼을 치지 않으면 조금 쌀쌀한 느낌은 있었어요! 아 그리고 아기때문에 침대에 가드를 부탁드렸는데 가드가 너무 별로였습니다... 가드 구실을 못하고 넘 허술하게 매트리스 아래 그냥 끼워진거라 아기가 밤새 두번이나 가드사이에 빠졌습니다... 이점 좀 아쉬워요 ! 그 외에는 다이닝룸 리빙룸  바까지 모두 이용했는데 서비스 좋았습니다~~!'

In [117]:
# 불필요 문자 모음 활용하여 필요 없는 문자 제거 및 replace 적용하여 재할당 및 확인
test2 = test2.translate(str.maketrans("","",string.punctuation)).replace("  ", " ")
test2

'결혼 1주년 기념으로 아이랑 신랑이랑 다녀왔어요 룸컨디션 너무 좋았고 뷰가 최고였습니다 2박 머물렀는데 청소도 깔끔하게 해주시고 애기가 이불에 살짝 토했는데도 바로 갈아주시고 좋았습니다 대신 창가쪽 커튼 한쪽이 떨어져있어서 조금 거슬렸구요 창가에 침실이 있다보니 암막커튼을 치지 않으면 조금 쌀쌀한 느낌은 있었어요 아 그리고 아기때문에 침대에 가드를 부탁드렸는데 가드가 너무 별로였습니다 가드 구실을 못하고 넘 허술하게 매트리스 아래 그냥 끼워진거라 아기가 밤새 두번이나 가드사이에 빠졌습니다 이점 좀 아쉬워요 그 외에는 다이닝룸 리빙룸 바까지 모두 이용했는데 서비스 좋았습니다'

In [121]:
# 문자열 할당
h10 = "abcde"
print(h10,'\n')
# translate 적용하여 재할당 및 확인
h10 = h10.translate(str.maketrans('ace','zyf'))
h10

abcde

'zbydf'

In [122]:
# translate 적용하여 뒤에 문자는 제거됨
h10.translate(str.maketrans('ace','zyf', 'bd'))

'zyf'

# 정규표현식

In [125]:
import re

In [126]:
# 한글, 영어, 숫자, 특수문자 적용된 문자열 할당 및 확인
text = "안녕하세요! This is a test. 1234 #$%^&*&()"
text

'안녕하세요! This is a test. 1234 #$%^&*&()'

In [128]:
# 한글, 영어 소문자, 영어 대문자, 숫자만 정규화 적용하여 재할당
text = re.sub(r'[^가-힣a-zA-Z0-9]', ' ', text)

# 양쪽 공백 제거와 replace 적용하여 재할당 및 확인
text = text.replace("  ", " ").strip()
text

'안녕하세요 This is a test 1234'

In [129]:
test3 = """112731,239840,서귀포 칼 호텔 (Seogwipo KAL Hotel),family,3박 가족 여행,2020년 11월 19일,8.0,넓디넓은 정원과 산책로 덕분에 코로나 시대 언택트 여행에 좋았구요. 조용하고 한적하게 잘 쉬었어요.
아무래도 서귀포가 제주시쪽보단 사람도 적어서 오히려 편하면서, 주변에 식당이나 까페, 편의점 갈때도 걸어서도 다녀올 입지라 좋습니다.
실내 수영장은 생각만큼? 작은 규모라 오히려 사람 없이 잘 놀았어요ㅎㅎ 
라운지바가 넓고 층고도 높아서 커피나 맥주 먹으며 쉬기에 좋고요.
매일 주시는 1.5리터 생수ㅎㅎ별거 아닐수 있지만 매우 감사했구요.
다만 층수가 낮은 방이어서 그런가 모기가 있었어요^^;; 그외에는 다 깨끗했구요. 
매트리스가 오래됐는지 묘하게 불편해서 허리가 아프긴 하더라고요;; 다행히? 세미온돌이라 바닥에서 자는게 오히려 나았고요
조식은...최근 후기가 다 별로라길래 하루만 가봤는데 역시;;ㅎ 뭐 저렴하기도 하지만.. 저는 나가서 먹었습니다."""

test3

'112731,239840,서귀포 칼 호텔 (Seogwipo KAL Hotel),family,3박 가족 여행,2020년 11월 19일,8.0,넓디넓은 정원과 산책로 덕분에 코로나 시대 언택트 여행에 좋았구요. 조용하고 한적하게 잘 쉬었어요.\n아무래도 서귀포가 제주시쪽보단 사람도 적어서 오히려 편하면서, 주변에 식당이나 까페, 편의점 갈때도 걸어서도 다녀올 입지라 좋습니다.\n실내 수영장은 생각만큼? 작은 규모라 오히려 사람 없이 잘 놀았어요ㅎㅎ \n라운지바가 넓고 층고도 높아서 커피나 맥주 먹으며 쉬기에 좋고요.\n매일 주시는 1.5리터 생수ㅎㅎ별거 아닐수 있지만 매우 감사했구요.\n다만 층수가 낮은 방이어서 그런가 모기가 있었어요^^;; 그외에는 다 깨끗했구요. \n매트리스가 오래됐는지 묘하게 불편해서 허리가 아프긴 하더라고요;; 다행히? 세미온돌이라 바닥에서 자는게 오히려 나았고요\n조식은...최근 후기가 다 별로라길래 하루만 가봤는데 역시;;ㅎ 뭐 저렴하기도 하지만.. 저는 나가서 먹었습니다.'

In [130]:
# split 적용 및 인덱싱하여 join 적용하고 재할당 및 확인
test3 = " ".join(test3.split(",")[7:])
test3

'넓디넓은 정원과 산책로 덕분에 코로나 시대 언택트 여행에 좋았구요. 조용하고 한적하게 잘 쉬었어요.\n아무래도 서귀포가 제주시쪽보단 사람도 적어서 오히려 편하면서  주변에 식당이나 까페  편의점 갈때도 걸어서도 다녀올 입지라 좋습니다.\n실내 수영장은 생각만큼? 작은 규모라 오히려 사람 없이 잘 놀았어요ㅎㅎ \n라운지바가 넓고 층고도 높아서 커피나 맥주 먹으며 쉬기에 좋고요.\n매일 주시는 1.5리터 생수ㅎㅎ별거 아닐수 있지만 매우 감사했구요.\n다만 층수가 낮은 방이어서 그런가 모기가 있었어요^^;; 그외에는 다 깨끗했구요. \n매트리스가 오래됐는지 묘하게 불편해서 허리가 아프긴 하더라고요;; 다행히? 세미온돌이라 바닥에서 자는게 오히려 나았고요\n조식은...최근 후기가 다 별로라길래 하루만 가봤는데 역시;;ㅎ 뭐 저렴하기도 하지만.. 저는 나가서 먹었습니다.'

In [131]:
# 정규화 및 replace 적용하여 재할당 및 확인
test3 = re.sub(r'[^가-힣a-zA-Z0-9]', ' ', test3).replace("  ", " ",-1).replace("  ", " ")
test3

'넓디넓은 정원과 산책로 덕분에 코로나 시대 언택트 여행에 좋았구요 조용하고 한적하게 잘 쉬었어요 아무래도 서귀포가 제주시쪽보단 사람도 적어서 오히려 편하면서 주변에 식당이나 까페 편의점 갈때도 걸어서도 다녀올 입지라 좋습니다 실내 수영장은 생각만큼 작은 규모라 오히려 사람 없이 잘 놀았어요 라운지바가 넓고 층고도 높아서 커피나 맥주 먹으며 쉬기에 좋고요 매일 주시는 1 5리터 생수 별거 아닐수 있지만 매우 감사했구요 다만 층수가 낮은 방이어서 그런가 모기가 있었어요  그외에는 다 깨끗했구요 매트리스가 오래됐는지 묘하게 불편해서 허리가 아프긴 하더라고요 다행히 세미온돌이라 바닥에서 자는게 오히려 나았고요 조식은 최근 후기가 다 별로라길래 하루만 가봤는데 역시 뭐 저렴하기도 하지만 저는 나가서 먹었습니다 '