# 리스트와 튜플 사용(초급)

In [1]:
# 정수 할당
a = 1
b = 2
c = 3
d = 4
e = 5

In [2]:
# 리스트 할당 및 확인
l = [1,2, "파이썬", 3.0,[4,5,6],(7,8,"리스트"), True, False]
print(l, type(l))

[1, 2, '파이썬', 3.0, [4, 5, 6], (7, 8, '리스트'), True, False] <class 'list'>

## 리스트 생성
- 대괄호 안에 자료를 나열해서 생성
- 내용이 비어있는 리스트 생성 가능 : []
- 자료가 1개만 있는 리스트도 생성 가능

In [1]:
# 리스트 할당 및 확인
l = [1,2, "파이썬", 3.0,[4,5,6],(7,8,"리스트"), True, False]
print(l, type(l))

[1, 2, '파이썬', 3.0, [4, 5, 6], (7, 8, '리스트'), True, False] <class 'list'>

In [2]:
# 비어 있는 리스트 할당 및 확인
l2 = []
print(l2, type(l2))

# 리스트 할당 및 확인
l3 = [1]
print(l3, type(l3))

[] <class 'list'>
[1] <class 'list'>

## list() : 리스트 형변환 함수

In [3]:
type(range(1,10))

range

In [4]:
# 리스트 적용
print(list(range(1,10)), type(range(1,10)))

# 리스트 적용
list((1,2,3,4))

[1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'range'>

[1, 2, 3, 4]

## 숫자를 생성해주는 range
- range(시작번호, 끝번호+1, step)

In [5]:
# 시작부터 +2씩 리스트 적용
print(list(range(1,11,2)))

# 시작부터 +10씩 리스트 적용
print(list(range(4,100,10)))

# 시작부터 -10씩 1까지 리스트 적용
list(range(100,1,-10))

[1, 3, 5, 7, 9]
[4, 14, 24, 34, 44, 54, 64, 74, 84, 94]

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

## .append() : 리스트 자료 추가

In [6]:
# 리스트 자료 추가
l.append(3)
l.append(5.0)
l.append('append')
l.append([1,2,3])
l.append((4,5,6))
l.append({'key':'value'})
print(l)

[1, 2, '파이썬', 3.0, [4, 5, 6], (7, 8, '리스트'), True, False, 3, 5.0, 'append', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

## insert() : 특정 위치에 자료 추가
- insert(추가할 위치의 자료 인덱스, 추가할 값)

In [7]:
# 인덱스 2번에 정수 3 넣기
l.insert(2,3)
l

[1,
 2,
 3,
 '파이썬',
 3.0,
 [4, 5, 6],
 (7, 8, '리스트'),
 True,
 False,
 3,
 5.0,
 'append',
 [1, 2, 3],
 (4, 5, 6),
 {'key': 'value'}]

In [8]:
# 인덱스 2번에 문자열 '삼번' 넣기
l.insert(2,'삼번')
l

[1,
 2,
 '삼번',
 3,
 '파이썬',
 3.0,
 [4, 5, 6],
 (7, 8, '리스트'),
 True,
 False,
 3,
 5.0,
 'append',
 [1, 2, 3],
 (4, 5, 6),
 {'key': 'value'}]

## 리스트의 자료 삭제
- del 변수명[인덱스 번호] : 해당 인덱스 번호의 자료 삭제
- pop() : 리스트의 가장 끝 자료가 출력되면서 삭제
- remove(값) : 리스트의 앞부터 일치하는 값 1개 찾아서 삭제

In [9]:
# del 적용
del l[7]
l

[1,
 2,
 '삼번',
 3,
 '파이썬',
 3.0,
 [4, 5, 6],
 True,
 False,
 3,
 5.0,
 'append',
 [1, 2, 3],
 (4, 5, 6),
 {'key': 'value'}]

In [10]:
# 맨 마지막 값 pop 적용
l.pop()
l

[1,
 2,
 '삼번',
 3,
 '파이썬',
 3.0,
 [4, 5, 6],
 True,
 False,
 3,
 5.0,
 'append',
 [1, 2, 3],
 (4, 5, 6)]

In [11]:
# remove 적용
l.remove(3)
l

[1,
 2,
 '삼번',
 '파이썬',
 3.0,
 [4, 5, 6],
 True,
 False,
 3,
 5.0,
 'append',
 [1, 2, 3],
 (4, 5, 6)]

## .extend : 리스트 확장
- 리스트에 자료를 추가하되, 요소만 추가

In [12]:
# 리스트 할당
a = [1,2,3]
b = [4,5,6]

# 리스트 자료 추가
# 리스트에 리스트 자료 추가하면 리스트 상태로 추가됨
a.append(b)
print(a)

[1, 2, 3, [4, 5, 6]]

In [13]:
# 리스트 길이 확인
print(len(a))

# 리스트 인덱싱
print(a[3][1])

4
5

In [14]:
# insert 적용
a.insert(4,b)
print(a)

[1, 2, 3, [4, 5, 6], [4, 5, 6]]

In [16]:
# extend 적용
a.extend([7,8,9])
print(a)

[1, 2, 3, [4, 5, 6], [4, 5, 6], 7, 8, 9]

In [17]:
# 리스트 할당
b = [4,5,6]
c = [7,8,9]

# extend 적용
b.extend(c)
print(b)

[4, 5, 6, 7, 8, 9]

### list + list = .extend() 한 것과 동일한 결과 도출

In [18]:
# 리스트 연산 수행
b = b + c
print(b)

[4, 5, 6, 7, 8, 9, 7, 8, 9]

## 리스트 안에서 원하는 값의 인덱스 찾기
- in, not in : 리스트 안에 원하는 값이 있는지 확인
- 원하는 값이 있는 위치를 찾을 때 .index(찾을 값)
- 동일한 값이 여러 개 있는 경우 가장 앞의 인덱스 반환
- 2번째 이상의 자료를 찾기 위해서는 옵션에 시작 인데스 지정
- index(찾는 값, 시작인덱스 번호)

In [15]:
# a 확인
print(a)

[1, 2, 3, [4, 5, 6], [4, 5, 6], 7, 8, 9]

In [16]:
# index 적용
print(a.index(3))

# 인덱싱 후 인덱스 적용
print(a[3].index(4))

2
0

In [17]:
# extend 적용
a.extend([1,2,3])

# index 적용(리스트 순서대로 같은 값 중 가장 가까이 있는 값 찾음)
print(a.index(3))

# index(찾을값, 찾을 시작 위치)
print(a.index(3,5))

2
10

In [18]:
# 리스트 자료 추가 및 인덱스 확인
a.append('파이썬')
print(a.index('파이썬'))

11

## .count() : 리스트 안에서 특정 값의 개수 구하기

In [19]:
a

[1, 2, 3, [4, 5, 6], [4, 5, 6], 7, 8, 9, 1, 2, 3, '파이썬']

In [21]:
# count 적용
a.count(4)

0

## .reverse() : 리스트 순서 뒤집기
- 실행 즉시 원본 데이터가 변경

In [22]:
# a 확인
print(a)

[1, 2, 3, [4, 5, 6], [4, 5, 6], 7, 8, 9, 1, 2, 3, '파이썬']
--------------------------------------------------
['파이썬', 3, 2, 1, 9, 8, 7, [4, 5, 6], [4, 5, 6], 3, 2, 1]
--------------------------------------------------
[1, 2, 3, [4, 5, 6], [4, 5, 6], 7, 8, 9, 1, 2, 3, '파이썬']
--------------------------------------------------
['파이썬', 3, 2, 1, 9, 8, 7, [4, 5, 6], [4, 5, 6], 3, 2, 1]
[1, 2, 3, [4, 5, 6], [4, 5, 6], 7, 8, 9, 1, 2, 3, '파이썬']

In [162]:
# reverse 적용
a.reverse()
a

['파이썬', 3, 2, 1, 9, 8, 7, [4, 5, 6], [4, 5, 6], 3, 2, 1]

In [163]:
# reverse 적용 -> 복구
a.reverse()
a

[1, 2, 3, [4, 5, 6], [4, 5, 6], 7, 8, 9, 1, 2, 3, '파이썬']

In [165]:
print(a[::-1])
a

['파이썬', 3, 2, 1, 9, 8, 7, [4, 5, 6], [4, 5, 6], 3, 2, 1]

[1, 2, 3, [4, 5, 6], [4, 5, 6], 7, 8, 9, 1, 2, 3, '파이썬']

## 리스트 정렬
- .sort() : 오름차순
- .sort(reverse=True) : 내림차순
- 실행 즉시 원본 데이터 바꿈

In [169]:
# 리스트 할당
a = [1,6,7,4,5,7,9,4,5,754,9]

# 오름차순 정렬 적용
a.sort()
print(a)

# 내림차순 정렬 적용
a.sort(reverse=True)
print(a)

[1, 4, 4, 5, 5, 6, 7, 7, 9, 9, 754]
[754, 9, 9, 7, 7, 6, 5, 5, 4, 4, 1]

### sorted(리스트) 오름차순
### sorted(리스트, reverse=True) 내림차순

In [174]:
# 리스트 할당
b = [1,6,7,4,5,7,9,4,5,754,9]

In [23]:
# 오름차순 정렬 적용
b = sorted(b)
print(b)

# 내림차순 정렬 적용
b = sorted(b, reverse=True)
print(b)

[4, 5, 6, 7, 7, 8, 8, 9, 9]
[9, 9, 8, 8, 7, 7, 6, 5, 4]

# 튜플 tuple
- 튜플은 리스트처럼 모든 자료형을 넣어 만들 수 있음
- 순서가 있는 자료형, 인덱스 존재
- 인덱싱, 슬라이싱 가능
- 자료의 추가 및 삭제 X
- () 안에 자료를 넣어 생성
- 튜플 형변환 함수는 tuple()
- 자료 1개만 넣어서 만들 수 있음(1,)형식이어야 한다.
- 튜플 생성 시 자료가 2개 이상인 경우 ()는 생략 가능

In [25]:
# 튜플 할당 및 확인
t = (1,2,3)
t

(1, 2, 3)

In [26]:
# 자료 추가 X
t.append()

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
# 튜플 할당 및 확인
t2 = (4,5,6)
print(t2)

(4, 5, 6)

### 튜플 + 튜플 = 두 개의 튜플이 1개로 합쳐짐

In [30]:
# 튜플 + 튜플
print(t + t2)

(1, 2, 3, 4, 5, 6)

In [189]:
# 튜플 변환 적용
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [191]:
# 자료의 수정 X
t.insert(2,4)

AttributeError: 'tuple' object has no attribute 'insert'

- list와 같이 특정 값의 인덱스를 찾는 것은 가능
- list와 같이 특정 값의 개수를 세는 것도 가능
- 튜플에 자료를 추가하고 싶은 경우 list 변환하여 자료 추가 후 tuple 형변환

In [194]:
# 특정 값의 인덱스 찾음
print(t.index(2))

# 특정 값의 개수 확인
t.count(1)

1

1

In [31]:
# 리스트 변환
t = (1,2,3)
t = list(t)
print(t)

# 리스트 자료 추가
t.extend([4,5,6])
print(t)

# 튜플 변환 적용
t = tuple(t)
print(t)

[1, 2, 3]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

-  튜플에 자료를 1개만 넣고 싶은 경우 : (자료,)

In [205]:
# 문자열 할당
t3 = ('튜플')
print(t3, type(t3))

# 튜플 할당(자료,)
t4 = ('튜플',)
print(t4, type(t4))

튜플 <class 'str'>
('튜플',) <class 'tuple'>

In [207]:
# 괄호 없이 튜플 생성
t5 = '튜플', '괄호 없이', '만들기', 222
t5

('튜플', '괄호 없이', '만들기', 222)

In [210]:
# 튜플 할당
t6 = '튜플',
print(t6, type(t6))

('튜플',) <class 'tuple'>

# 시퀀스 객체(자료형)
- 문자열, 리스트, 튜플 같은 순서가 있는 자료형 = 시퀀스 자료형
- 순서가 있고, 인덱스 번호가 부여되며 인덱싱, 슬라이싱이 가능
- 반복문에 시퀀스 자료형을 그대로 넣어서 반복시키는 것이 가능

In [216]:
# t2 확인
print(t2)

# in 적용
print(4 in t2)

# in 적용
print(7 in t2)

(4, 5, 6)
True
False

In [33]:
c = '시퀀스 자료형은 in, not in을 자료가 내부에 있는지 확인 가능하다,'
print(c)

# in 적용
print('자료' in c)
print('확인' in c)

시퀀스 자료형은 in, not in을 자료가 내부에 있는지 확인 가능하다,
True
True

In [227]:
# 리스트 할당
list_01 = [0,1,2,3,4,5]

# in 적용
3 in list_01

True

- 시퀀스 객체는 + 연산자를 이용해 서로 연결 가능
- 시퀀스 객체는 * 연산자를 이용해 반복 가능

In [34]:
# 문자열 + 문자열
print('시퀀스' + '자료형')

# 리스트 + 리스트
print([1,2,3,4] + [5,6,7,8])

시퀀스자료형
[1, 2, 3, 4, 5, 6, 7, 8]

In [229]:
# 튜플 + 튜플
(1,2,3,4) + (5,6,7,8)

(1, 2, 3, 4, 5, 6, 7, 8)

In [35]:
# 문자 * -> 반복
print('='*50)

# 리스트 * -> 반복
print([1,2,3]*3)

# 튜플 * 숫자 -> 숫자만큼 반복
(4,5,6)*3

==================================================
[1, 2, 3, 1, 2, 3, 1, 2, 3]

(4, 5, 6, 4, 5, 6, 4, 5, 6)

In [236]:
# for문 확인
for i in '문자열은 반복문에서 사용가능':
    print(i)

문
자
열
은

반
복
문
에
서

사
용
가
능

In [239]:
# 순서가 있는 리스트 for문
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [38]:
# 순서가 있는 튜플 for문
t1 = (1,2,3,4,5)
for i in t1:
    print(i)

1
2
3
4
5

In [40]:
# 순서가 있는 리스트 for문
for i in [1,2,3,4]:
    print(i)
    
print('-'*50)

# 순서가 있는 튜플 for문
t1 = (1,2,3,4,5)
for i in t1:
    print(i)

1
2
3
4
--------------------------------------------------
1
2
3
4
5

- 리스트, 튜플은 연산 가능
    - sum()
    - max()
    - min()

In [41]:
# t1 확인
print(t1)

# sum 적용
print(sum(t1))

# max 적용
print(max(t1))

# min 적용
print(min(t1))

(1, 2, 3, 4, 5)
15
5
1