# 리스트 표현식
- 리스트 안에 for 반복문과 if else 조건문을 한 반에 적어서 리스트를 만드는 방법
- 여러 줄의 코드를 1줄로 줄일 수 있다
- for문과 if else문을 사용해서 처리할 때 속도가 빠름
- [실행할 명령 for 변수 in list, tuple]

In [5]:
# 정규표현식 사용
for i in range(1,11):
    print(f'{i}는 짝수입니다') if i % 2 == 0 else print(f'{i}는 홀수입니다')

1는 홀수입니다
2는 짝수입니다
3는 홀수입니다
4는 짝수입니다
5는 홀수입니다
6는 짝수입니다
7는 홀수입니다
8는 짝수입니다
9는 홀수입니다
10는 짝수입니다

In [11]:
# 1부터 10까지 들어있는 리스트 생성
l1 = [] 

for i in range(1,11):
    l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
# 리스트 표현식
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 리스트 표현식과 일반 반복문 속도 차이

In [14]:
import time

In [29]:
%%time
# start = time.time()
a = []
for i in range(1,20000000):
    a.append(i+5)
print(a[:10])

# print('코드 실행 시간: ', time.time() - start)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
CPU times: total: 13.3 s
Wall time: 14.2 s

In [30]:
%%time
# start2 = time.time()
b = [i+5 for i in range(20000000)]
print(b[:10])

# print('코드 실행 시간: ', time.time() - start)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
CPU times: total: 6.47 s
Wall time: 6.75 s

In [31]:
%%time
# pip install numpy
import numpy as np

c = np.arange(1,20000000)
c + 5
print(c[:10])
# print('코드 실행 시간: ', time.time() - start)

[ 1  2  3  4  5  6  7  8  9 10]
CPU times: total: 312 ms
Wall time: 329 ms

- 1에서 10까지의 숫자 중 짝수만 넣어서서 리스트 생성

In [36]:
l1 = []
for i in range(1,11):
    if i % 2 == 0:
        l1.append(i)
l1

[2, 4, 6, 8, 10]

In [39]:
l2 = [i for i in  range(1,11) if i % 2 == 0]
l2

[2, 4, 6, 8, 10]

## 다중 반복문을 사용한 리스트 표현식
- [i * j for i in ragne(2,10) for j in range(1,10)]

In [43]:
gugudan = []
for i in range(2,10):
    for j in range(1,10):
        gugudan.append(f"{i} X {j} = {i * j}")
gugudan[:9]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18']

In [51]:
# 누적해서 사용하는 반복문에는 자주 사용하지 않음
# 그 이상은 잘 쓰지 않음
gugudan2 = [f"{i} X {j} = {i * j}" for i in range(2,10) for j in range(1,10)]  
gugudan2[9:18]

['3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27']

In [58]:
# 시간
# 튜플로도 생성이 가능
time = [f"{i}:{j}:{k}" for i in range(0,23) for j in range(0,60) for k in range(0,60)]
time[:10]

['0:0:0',
 '0:0:1',
 '0:0:2',
 '0:0:3',
 '0:0:4',
 '0:0:5',
 '0:0:6',
 '0:0:7',
 '0:0:8',
 '0:0:9']

# 파일 읽기 쓰기

### 1) open() : 파일에 문자열 쓰거나 읽는 경우
- 파일저장
    - 변수명 = open('파일이름', 모드(w:쓰기, r:읽기))
    - 변수명.write('저장할 내용')
    - 변수명.close() : close()를 안하면 계속 열려있음

In [60]:
file = open('text.txt', 'w')
file.write('파일 만들기 연습')
file.close()

- 파일 열기
    - 변수명 = open('파일이름', 파일모드(r))
    - 변수2 = 변수1.read()
    - 변수1.close()

In [61]:
file1 = open('text.txt', 'r')
my_file = file1.read()
file1.close()
print(my_file)

파일 만들기 연습

### 2)  with open()
- with open은 close()를 하지 않아도 자동으로 close() 처리

In [63]:
with open('text2.txt', 'w') as file3:
    file3.write('with open을 사용하면 파일을 자동으로 닫아 편리함')

In [64]:
with open('text2.txt', 'r') as file4:
    data = file4.read()
print(data)

with open을 사용하면 파일을 자동으로 닫아 편리함

# encoding에 따른 읽기 오류
- 운영체제나(windows, linux, macOS 등), 한국/영어 윈도우에 따라 인코딩 포멧 다름
- 인코딩에 따른 오류가 발생 가능
- web 표준은 utf-8이므로 인코딩은 utf-8로 하는 것이 좋음
- windows의 경우 인코딩이 cp949이므로 주의

In [66]:
with open ('text_utf-8.txt', 'w', encoding='utf-8') as file5:
    file5.write('이것은 with open으로 만들 utf-8 인코딩 파일입니다.')

In [68]:
with open ('text_utf-8.txt', 'r', encoding='utf-8') as file6:
    file6_data = file6.read()
print(file6_data)

이것은 with open으로 만들 utf-8 인코딩 파일입니다.

# json 파일 읽어와서 내용 정리

In [81]:
with open('./data/서울특별시_관광지입장정보_2011_2016.json', 'r', encoding='utf-8') as file7:
    trip_info = file7.read()
# print(trip_info)
print(type(trip_info))

<class 'str'>

In [100]:
import json

data = json.loads(trip_info)
print(len(data))
data[:2]

67

[{'ForNum': 44722,
  'NatNum': 75991,
  'addrCd': 1111,
  'gungu': '종로구',
  'resNm': '창덕궁',
  'rnum': 1,
  'sido': '서울특별시',
  'yyyymm': '201112'},
 {'ForNum': 0,
  'NatNum': 11017,
  'addrCd': 1111,
  'gungu': '종로구',
  'resNm': '운현궁',
  'rnum': 2,
  'sido': '서울특별시',
  'yyyymm': '201112'}]

In [119]:
for item in data[:2]:
#     print(item)
    for key in item.values():
        print(key)

44722
75991
1111
종로구
창덕궁
1
서울특별시
201112
0
11017
1111
종로구
운현궁
2
서울특별시
201112

- value를 리스트로 생성 후 dict함수로 딕셔너리 생성하여 데이터프레임으로 변환

In [114]:
year_mon = []
sido = []
place = []
foriners = []
total = []

for item in data:
    foriners.append(item['ForNum'])
    total.append(item['NatNum'])
    place.append(item['resNm'])
    sido.append(item['sido'])
    year_mon.append(item['yyyymm'])

    
tour_info = dict(년월=year_mon, 시도=sido, 장소=place, 외국인=foriners, 전체방문객수=total)
tour_info['년월'][:10]

['201112',
 '201112',
 '201112',
 '201112',
 '201112',
 '201112',
 '201112',
 '201112',
 '201112',
 '201112']

In [118]:
import pandas as pd

# 데이터프레임 할당
df_info = pd.DataFrame(tour_info)
df_info

        년월     시도         장소     외국인  전체방문객수
0   201112  서울특별시        창덕궁   44722   75991
1   201112  서울특별시        운현궁       0   11017
2   201112  서울특별시        경복궁  132399  237330
3   201112  서울특별시        창경궁    3133   21267
4   201112  서울특별시         종묘   18226   24223
..     ...    ...        ...     ...     ...
62  201512  서울특별시  서대문형무소역사관    5588   44232
63  201512  서울특별시  서대문자연사박물관       0   22587
64  201512  서울특별시    트릭아이미술관   29520    8822
65  201512  서울특별시      헌릉ㆍ인릉       3    1647
66  201512  서울특별시      선릉·정릉     492   14454

[67 rows x 5 columns]

- 딕셔너리를 바로 생성하여 데이터프레임으로 변환
- key, value를 직접 할당해서 딕셔너리 만들기

In [136]:
result = {}
for key in data[0]:
    value_list=[]
#     print(key)
    for item in data:
        value_list.append(item[key])
#     print(key, value_list)
    result[key] = value_list
# print(result)

In [138]:
result_df = pd.DataFrame(result)
result_df

    ForNum  NatNum  addrCd gungu      resNm  rnum   sido  yyyymm
0    44722   75991    1111   종로구        창덕궁     1  서울특별시  201112
1        0   11017    1111   종로구        운현궁     2  서울특별시  201112
2   132399  237330    1111   종로구        경복궁     3  서울특별시  201112
3     3133   21267    1111   종로구        창경궁     4  서울특별시  201112
4    18226   24223    1111   종로구         종묘     5  서울특별시  201112
..     ...     ...     ...   ...        ...   ...    ...     ...
62    5588   44232    1141  서대문구  서대문형무소역사관     8  서울특별시  201512
63       0   22587    1141  서대문구  서대문자연사박물관     9  서울특별시  201512
64   29520    8822    1144   마포구    트릭아이미술관    10  서울특별시  201512
65       3    1647    1165   서초구      헌릉ㆍ인릉    11  서울특별시  201512
66     492   14454    1168   강남구      선릉·정릉    12  서울특별시  201512

[67 rows x 8 columns]

- setdafault 함수를 이용해 생성
    - key가 있으면 새로운 값을 추가하면

In [141]:
dic_result = {}
for dicts in data:
    for key, value in dicts.items():
#         print(key, value)
        dic_result.setdefault(key,[]).append(value)
dic_result

{'ForNum': [44722,
  0,
  132399,
  3133,
  18226,
  0,
  0,
  13935,
  0,
  10,
  0,
  0,
  5214,
  333,
  4704,
  52484,
  27814,
  546,
  105370,
  1451,
  8817,
  13033,
  1138,
  11151,
  0,
  15,
  6625,
  0,
  24492,
  62,
  66868,
  25550,
  101942,
  1986,
  6048,
  9083,
  13282,
  6,
  6732,
  0,
  43129,
  16,
  1445,
  29928,
  129946,
  1693,
  3891,
  7195,
  14723,
  12,
  6263,
  0,
  42443,
  5,
  823,
  33342,
  170379,
  1783,
  3406,
  13127,
  15197,
  16,
  5588,
  0,
  29520,
  3,
  492],
 'NatNum': [75991,
  11017,
  237330,
  21267,
  24223,
  233828,
  93554,
  52140,
  61115,
  1885,
  32412,
  19308,
  6956,
  1823,
  16634,
  642290,
  28061,
  5978,
  133012,
  15722,
  8068,
  227077,
  78179,
  44855,
  213467,
  1252,
  14090,
  18881,
  9167,
  860,
  670056,
  38553,
  145544,
  20035,
  13896,
  286992,
  99301,
  706,
  14607,
  23245,
  11886,
  1248,
  11890,
  41561,
  190501,
  19473,
  5951,
  258781,
  44272,
  486,
  27205,
  24527,
  7478,
  1036,
  8869,
  59738,
  148961,
  27172,
  14936,
  281457,
  68749,
  2221,
  44232,
  22587,
  8822,
  1647,
  14454],
 'addrCd': [1111,
  1111,
  1111,
  1111,
  1111,
  1117,
  1111,
  1114,
  1114,
  1135,
  1141,
  1141,
  1144,
  1165,
  1168,
  1171,
  1111,
  1111,
  1111,
  1111,
  1111,
  1117,
  1111,
  1114,
  1114,
  1135,
  1141,
  1141,
  1144,
  1165,
  1171,
  1111,
  1111,
  1111,
  1111,
  1117,
  1114,
  1135,
  1141,
  1141,
  1144,
  1165,
  1168,
  1111,
  1111,
  1111,
  1111,
  1117,
  1114,
  1135,
  1141,
  1141,
  1144,
  1165,
  1168,
  1111,
  1111,
  1111,
  1111,
  1117,
  1114,
  1135,
  1141,
  1141,
  1144,
  1165,
  1168],
 'gungu': ['종로구',
  '종로구',
  '종로구',
  '종로구',
  '종로구',
  '용산구',
  '종로구',
  '중구',
  '중구',
  '노원구',
  '서대문구',
  '서대문구',
  '마포구',
  '서초구',
  '강남구',
  '송파구',
  '종로구',
  '종로구',
  '종로구',
  '종로구',
  '종로구',
  '용산구',
  '종로구',
  '중구',
  '중구',
  '노원구',
  '서대문구',
  '서대문구',
  '마포구',
  '서초구',
  '송파구',
  '종로구',
  '종로구',
  '종로구',
  '종로구',
  '용산구',
  '중구',
  '노원구',
  '서대문구',
  '서대문구',
  '마포구',
  '서초구',
  '강남구',
  '종로구',
  '종로구',
  '종로구',
  '종로구',
  '용산구',
  '중구',
  '노원구',
  '서대문구',
  '서대문구',
  '마포구',
  '서초구',
  '강남구',
  '종로구',
  '종로구',
  '종로구',
  '종로구',
  '용산구',
  '중구',
  '노원구',
  '서대문구',
  '서대문구',
  '마포구',
  '서초구',
  '강남구'],
 'resNm': ['창덕궁',
  '운현궁',
  '경복궁',
  '창경궁',
  '종묘',
  '국립중앙박물관',
  '서울역사박물관',
  '덕수궁',
  '서울시립미술관 본관',
  '태릉 ·  강릉 · 조선왕릉전시관',
  '서대문형무소역사관',
  '서대문자연사박물관',
  '트릭아이미술관',
  '헌릉ㆍ인릉',
  '선릉·정릉',
  '롯데월드',
  '창덕궁',
  '운현궁',
  '경복궁',
  '창경궁',
  '종묘',
  '국립중앙박물관',
  '서울역사박물관',
  '덕수궁',
  '서울시립미술관 본관',
  '태릉 ·  강릉 · 조선왕릉전시관',
  '서대문형무소역사관',
  '서대문자연사박물관',
  '트릭아이미술관',
  '헌릉ㆍ인릉',
  '롯데월드',
  '창덕궁',
  '경복궁',
  '창경궁',
  '종묘',
  '국립중앙박물관',
  '덕수궁',
  '태릉 ·  강릉 · 조선왕릉전시관',
  '서대문형무소역사관',
  '서대문자연사박물관',
  '트릭아이미술관',
  '헌릉ㆍ인릉',
  '선릉·정릉',
  '창덕궁',
  '경복궁',
  '창경궁',
  '종묘',
  '국립중앙박물관',
  '덕수궁',
  '태릉 ·  강릉 · 조선왕릉전시관',
  '서대문형무소역사관',
  '서대문자연사박물관',
  '트릭아이미술관',
  '헌릉ㆍ인릉',
  '선릉·정릉',
  '창덕궁',
  '경복궁',
  '창경궁',
  '종묘',
  '국립중앙박물관',
  '덕수궁',
  '태릉 ·  강릉 · 조선왕릉전시관',
  '서대문형무소역사관',
  '서대문자연사박물관',
  '트릭아이미술관',
  '헌릉ㆍ인릉',
  '선릉·정릉'],
 'rnum': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12],
 'sido': ['서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시',
  '서울특별시'],
 'yyyymm': ['201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201112',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201212',
  '201312',
  '201312',
  '201312',
  '201312',
  '201312',
  '201312',
  '201312',
  '201312',
  '201312',
  '201312',
  '201312',
  '201312',
  '201412',
  '201412',
  '201412',
  '201412',
  '201412',
  '201412',
  '201412',
  '201412',
  '201412',
  '201412',
  '201412',
  '201412',
  '201512',
  '201512',
  '201512',
  '201512',
  '201512',
  '201512',
  '201512',
  '201512',
  '201512',
  '201512',
  '201512',
  '201512']}

In [142]:
dic_result_df = pd.DataFrame(dic_result)
dic_result_df

    ForNum  NatNum  addrCd gungu      resNm  rnum   sido  yyyymm
0    44722   75991    1111   종로구        창덕궁     1  서울특별시  201112
1        0   11017    1111   종로구        운현궁     2  서울특별시  201112
2   132399  237330    1111   종로구        경복궁     3  서울특별시  201112
3     3133   21267    1111   종로구        창경궁     4  서울특별시  201112
4    18226   24223    1111   종로구         종묘     5  서울특별시  201112
..     ...     ...     ...   ...        ...   ...    ...     ...
62    5588   44232    1141  서대문구  서대문형무소역사관     8  서울특별시  201512
63       0   22587    1141  서대문구  서대문자연사박물관     9  서울특별시  201512
64   29520    8822    1144   마포구    트릭아이미술관    10  서울특별시  201512
65       3    1647    1165   서초구      헌릉ㆍ인릉    11  서울특별시  201512
66     492   14454    1168   강남구      선릉·정릉    12  서울특별시  201512

[67 rows x 8 columns]