# 함수 생성
- print(), split(), input() => 함수
- 함수의 괄호 안에 값을 넣으면 출력하거나 입력받거나 변환 수행
- 만들어져 있는 도구
- function 기능
- 자주 사용하는 기능을 미리 만들어서 **반복 재사용**을 할 수 있게 만든 것

In [4]:
# 리스트의 자료에 10을 곱해서 다시 리스트로 출력
# result = [10,20,30,40]
l = [1,2,3,4]
result = []
for i in l:
    result.append(i*10)
print(result)

[10, 20, 30, 40]

In [29]:
# 매번 코드를 작성을 하는 것이 쉽지 않음
# 자주 사용하는 기능 미리 생성

def mul10(num):
    result_in_func = []
    for i in num:
        result_in_func.append(i*10)
    return result_in_func

mul10(l)

[10, 20, 30, 40]

In [9]:
# 리스트 할당
l2 = list(range(1,51))
print(l2, end=' ')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [27]:
# 결과 확인
print(mul10(l2), end=' ')

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500]

# 함수 생성 방법
- def 함수이름(변수명1, 변수명2,...):<br>
____ 실행코드<br>
____return 반환할 값(결과)<br>

In [25]:
# 함수 정의
def hello(string):
        print('Hello Python 함수 만들기',string)
hello('반갑습니다')

Hello Python 함수 만들기 반갑습니다

# 함수 호출 순서
- 함수는 호출하기 전에 반드시 먼저 정의해야 함
- 함수 정의가 함수 실행보다 위에 있어야 함
- VScode에서는 위에서 밑으로 코드(명령)가 실행되므로 함수 실행이 먼저 있으면 실행 X

In [23]:
# 함수 정의 전에 사용 X
# 함수를 정의하고 실행하면 사용 가능
# 셀 단위로 실행이 되기 때문에 가능
hello2()

Helo2 파이썬 함수 생성

In [28]:
# 함수 정의
def hello2():
    print('Helo2 파이썬 함수 생성')
hello2()

Helo2 파이썬 함수 생성

# 함수의 매개변수
- 함수의 () 안에 받는 값을 저장하는 변수
- () 안에 값을 받아서 함수 내에서 처리할 때 사용

- 매개 변수 1개짜리 함수

In [34]:
# 원의 넓이를 구하는 함수 - 반지름 * 반지름 * 3.14((반지금 ** 2)*3.14 )
def circle(c):
    print(f"반지름 길이가 {c}인 원의 넓이 = {(c**2)*3.14} 입니다.")

In [36]:
 # 함수 사용
circle(10)

반지름 길이가 10인 원의 넓이 = 314.0 입니다.

- 변수를 2개 적용하는 경우
- 덧셈 함수 생성

In [37]:
def add(a, b):
    return a+b

In [40]:
print(add(2,3))

5

- 매개변수 3개짜리 함수
- num_maker라는 함수를 매개변수 3개를 이용해서 생성
- 숫자를 3개 입력받아 첫번째 숫자는 시작숫자, 두번째 숫자는 끝숫자, 마지막 숫자는 step으로 작동
- num_maker(1,11,2)
    -  결과 : 1,3,5,7,9

In [52]:
def  num_maker(a,b,c):
    result = list(range(a,b,c))
    return result

In [50]:
num_maker(1,11,2)

[1, 3, 5, 7, 9]

In [53]:
def num_maker2(a,b,c):
    result = list(range(a,b,c))
    result2 = []
    print(result)
    for i in result:
        result2.append(i*10)
    print(result2)
    return result, result2

In [54]:
num_maker2(1,11,2)

[1, 3, 5, 7, 9]
[10, 30, 50, 70, 90]

([1, 3, 5, 7, 9], [10, 30, 50, 70, 90])

# 리턴 값이 여러 개인 함수

In [55]:
# 덧셈/뺄셈 함수
def add_sub(a,b):
    add = a + b
    sub = a - b
    return add, sub

In [58]:
# 각각의 리턴 값을 따로 저장 및 확인
add_result, sub_result = add_sub(3, 5)
print(add_result)
print(sub_result)

8
-2

In [61]:
# 리턴 값이 여러 개인 경우 튜플로 할당
result = add_sub(3,6)
print(result,type(result)) 
print(result[0], result[1])

(9, -3) <class 'tuple'>
9 -3

- num_maker2 : 정방향, 역방향 리스트가 출력되는 함수
- 3개의 숫자를 입력받아서 숫자 리스트를 만듦
- 리스트 + 3을 한 결과를 리스트로 반환
- 한 번은 정방향으로 출력
- 또 한 번은 역방향으로 출력

In [80]:
def num_maker2(start, end, step):
    list_result = list(range(start, end, step))
    list_result_reverse = list_result[::-1]
#     print(list_result, list_reseult_reverse)
    return list_result, list_result_reverse

In [157]:
result = num_maker2(30, 10, 3)
print(result[0])
print(result[1])

[]
[]

In [86]:
for i in result:
#     print(i)
    for j in i:
        print(j, end = ' ')

1 2 3 4 5 6 7 8 9 9 8 7 6 5 4 3 2 1

# 중간에 함수를 종료시키는 용도의  return
- 반복문에서 break 처럼 활용 가능
- 함수 내에서 return이 실행되면 함수는 종료

- 1에서 100까지 숫자 중에서 짝수만 더해서 출력
- 단, 숫자가 50 이상이 되면 멈추시오

In [131]:
def even(num):
#     print(num)
    hap = 0
    for i in num:
#         print(i)
        if i < 50:
            if i % 2 == 0:
                print(f"{i} + {hap} =", end='')
                hap += i
                print(f" {hap}", end='\n')
#             print(hap)
        else:
            return hap

In [132]:
even(list(range(1,101)))

2 + 0 = 2
4 + 2 = 6
6 + 6 = 12
8 + 12 = 20
10 + 20 = 30
12 + 30 = 42
14 + 42 = 56
16 + 56 = 72
18 + 72 = 90
20 + 90 = 110
22 + 110 = 132
24 + 132 = 156
26 + 156 = 182
28 + 182 = 210
30 + 210 = 240
32 + 240 = 272
34 + 272 = 306
36 + 306 = 342
38 + 342 = 380
40 + 380 = 420
42 + 420 = 462
44 + 462 = 506
46 + 506 = 552
48 + 552 = 600

600

- 점수를 입력 받아서 91-100 : A학점, 81-90 : B학점, 71-80 : C학점, 61-70 : D학점, 60점 이하 : F학점
- 각 점수에 따른 학점 출력하는 student_grade 함수 생성
- 점수를 입력받음 : input()
- student_grade 함수에 입력받은 값을 넣어줌
- student_grade 함수에서는 입력받은 값을 비교하여 학점 출력

In [149]:
def student_geade(score):
    if 90 < score <= 100:
        return f'{score} 점수는 A 학점'
    elif 80 < score <= 90:
        return f'{score} 점수는 B 학점'
    elif 70 < score <= 80:
        return f'{score} 점수는 C 학점'
    elif 60 < score <= 70:
        return f'{score} 점수는 D 학점'
    else:
        return f'{score} 점수는 F 학점'

In [150]:
score = int(input('점수를 입력하세요: '))
student_geade(score)

점수를 입력하세요: 56

'56 점수는 F 학점'

**----------------------------------------------------------------------------------------------------------------------------------------------------**

# 인수 : 함수에 집어넣는 자료(매개변수에 넣는 자료)
#### 위치인수(positional argument)
    - 위치가 고정된 인수
#### 가변위치인수(args, Variable-length Arguments)
    - 여러 개의 자료를 넣을 수 있는 인수
#### 키워드 인수(keyword arguments)
    - 매개변수에 이름을 명시하여 인수를 넣어주는 것
#### 가변 키워드 인수(kwargs, Variable-lenght keyword arguments)
    - 키워드 인수를 숫자 제한 없이 넣는 경우

#### 위치인수(positional argument)
- 넣는 순서와 개수를 일치시켜야 함
- 리스트 / 튜플 언패킹으로 여러 개의 자료를 풀어서 넣기

In [158]:
def print_nums(a, b, c):
    print(a, b, c)

In [170]:
# 입력받는 변수보다 적거나 많으면 오류 발생
# print_nums(1, 5)

# 변수 혹은 자료를 3개를 넣어줘야 오류 발생 X
# l1 = [1,2,3]
# print_nums(l1)

In [173]:
print(*l1)

1 2 3

In [169]:
# *list명 : 리스트 언패킹되어 리스트 안의 자료들이 삽입됨
print_nums(*l1)

1 2 3

#### 가변위치인수(args)
- 자료의 개수의 제한 없이 넣을 수 있는 인수

In [178]:
def print_nums(*nums):
    print(nums) ## 튜플로 할당
    for i in nums:
        print(i, end=' ')

In [177]:
print_nums(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1 2 3 4 5 6 7 8 9 10

- my_sum 함수 생성
- 여러 개의 숫자를 입력받으면 합계를 구해주는 함수

In [186]:
def my_sum(*args):
    hap = 0
    for i in args:
#         print(i)
        hap += i
    return hap

In [187]:
result = my_sum(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [191]:
my_sum(*list(range(1,1001)))

500500

- 위치인수와 가변인수 동시에 받기
- 위치인수와 가변인수를 동시에 받는 경우 반드시 위치인수가 먼저 와야 한다

In [245]:
# 정수와 리스트를 입력받아 리스트의 요소에 입력받은 정수를 곱하는 함수
def muls(a, *args):
    print(a, args)
    result = []
    for num in args:
#         print(num)
        result.append(a*num)
    return result

In [247]:
l2 = [1,2,3,4,5]
# muls(2, *l2)
muls(2, *l2)

2 (1, 2, 3, 4, 5)

[2, 4, 6, 8, 10]

#### 키워드 인수
- 매개변수 이름을 직접 입력하고 자료 할당
- 키워드 인수는 기본값 설정 가능

In [212]:
print(1,2,3, sep=' vs ', end=' !!')

1 vs 2 vs 3 !!

- 개인 정보를 출력하는 함수

In [221]:
def personal_info(name='이름 입력되지 않음', age='나이 입력되지 않음', address='주소 입력되지 않음'):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [223]:
personal_info(name = '홍길동', age = 30)
print()
personal_info()

이름:  홍길동
나이:  30
주소:  주소 입력되지 않음

이름:  이름 입력되지 않음
나이:  나이 입력되지 않음
주소:  주소 입력되지 않음

- 딕셔너리 언패킹
- 딕셔너리 앞에 **을 붙여서 딕셔너리 언패킹 가능
- **{'address':'서울시 강남구','name':'홍길동','age':30}

In [225]:
# 딕셔너리 언패킹하여 함수 활용
personal_info(**{'address':'서울시 강남구','name':'홍길동','age':30})

이름:  홍길동
나이:  30
주소:  서울시 강남구

- 키워드가변인수

def 함수명(**kwargs)<br>

In [233]:
def personal_info2(**kwargs):
    print(kwargs)
    key = list(kwargs.keys())
    value = list(kwargs.values())
    print(key)
    print(value)

In [234]:
personal_info2(address='서울시', name='홍길동')

{'address': '서울시', 'name': '홍길동'}
['address', 'name']
['서울시', '홍길동']

- 위치인수와 키워드 가변인수 같이 사용
- 위치인수 다음에 키워드 가변인수가 와야 한다

In [243]:
def personal_info3(num, **kwargs):
    print(kwargs)
    key = list(kwargs.keys())
    value = list(kwargs.values())
    print(num)
    print(key)
    print(value)

In [244]:
personal_info3(1, address='서울시', name='홍길동')

{'address': '서울시', 'name': '홍길동'}
1
['address', 'name']
['서울시', '홍길동']

- 가변인수와 키워드 가변인수 함께 사용
- 가변인수 -> 키워드 가변인수 순으로 작성
- def 함수명(*args, **kwargs)

In [259]:
def custom_print(*args, **kwargs):
#     print(args, kwargs)
    # *args = 1,2,3
    # **kwargs = sep='||', end='!!'
    print(*args, **kwargs)

In [260]:
custom_print(1,2,3, sep='||', end='!!')

1||2||3!!

In [261]:
print(1,2,3, sep='||', end='!!')

1||2||3!!

#### 매개변수 = 함수에서 자료를 받는 경우 사용하는 변수
- 위치인수(a) : 위치가 고정된 인수, 위치인수는 키워드 인수로 사용 가능(변수명=값)
- 가변인수(*args) : 여러 개의 자료를 동시에 받을 수 있는 인수, tuple로 변환되어 반환
- 키워드 가변인수(**kwargs) : 여러 개의 자료를 동시에 받을 수 있는데 key=vlaue형태(dict)로 받는 인수

- 매개변수에 초기값 지정
- 초기값이 지정된 매개변수는 반드시 마지막에 위치
- 위치인수,  키워드 인수, 가변인수, 키워드 가변인수 동시에 다 사용하는 경우
    - 위치인수 => 키워드 인수(기본값), 가변인수, 키워드 가변인수 순서로 사용

In [285]:
def personal_info6(idx, address='비공개', *args, **kwargs):
    print(f"idx: {idx}" )
    print(f"address: {address}" )
    print(f"*args: {args}" )
    print(f"**kwargs: {kwargs}" )

In [287]:
personal_info6(1, 30, 40, 50,이름='홍길동', 성별='남자')

idx: 1
address: 비공개
*args: (30, 40, 50, '서울')
**kwargs: {'이름': '홍길동', '성별': '남자'}

- 함수 dec스트링 사용
- 함수의 기능을 설명하거나 사용법을 함수 내에 적어 놓는 것<br>
- def 함수이름(매개변수):<br>
  """독스트링으로 설명"""<br>
-  docstring : 함수 실행시에는 출력되지 않음
- print(함수이름.__doc__)
- help(함수이름)

In [291]:
help(personal_info6)
print(personal_info6.__doc__)

Help on function personal_info6 in module __main__:

personal_info6(idx, *args, address='비공개', **kwargs)

None

In [292]:
def add(a,b):
    """
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
    """
    result = a+b
    return result

In [294]:
help(add)

Help on function add in module __main__:

add(a, b)
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

# 람다 표현식(lambda expression)
- 익명함수(함수 이름이 없음)
- 간단한 함수를 작성하거나 다른 함수의 인수로 함수를 넣을 때 사용
- 사용 후 메모리에서 삭제
- lambda 매개변수: return할 값, 계산
- (lambda x: x + 10)(5)
- plus_ten = lambda x: x + 10
- plus_ten(5)

In [296]:
# 지금까지 메모리에 저장된 작업 내용을 확인 가능
# print(globals())

In [297]:
# 자료 1개를 입력받아 10을 더해 리턴하는 함수
def plus_ten(x):
    return x + 10

In [300]:
plus_ten(5)

15

In [303]:
# 람다 함수 사용
(lambda x: x + 10)(5)

15

In [304]:
# 람다 함수를 변수 할당 -> 잘 사용하지는 않음
plus_ten = lambda x: x + 10
plus_ten(5)

15

In [307]:
# 숫자를 넣어서 홀짝 구분하는 람다 함수
(lambda x: '짝수' if x % 2 == 0 else '홀수')(11)

'홀수'

- 1에서 10까지 수 중에서 3의 배수만 문자열로 변경

In [314]:
def tostr(x):
    result = []
    for i in x:
        if i % 3 == 0:
            result.append(str(i))
        else:
            result.append(i)
    return result

In [321]:
tostr(list(range(1,11)))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [329]:
# 람다함수 
tostr2 = (lambda x: str(x) if x % 3 == 0 else x)

In [332]:
# 람다함수 적용
a = list(map((lambda x: str(x) if x % 3 == 0 else x), range(1,11)))
print(type(a[0]))
a

<class 'int'>

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [333]:
# 간단하게 반복문 작성하는 경우 적용
# .apply(lambda x: str(x) if x % 3 == 0 else x)

In [338]:
a = [1,2,3,4,5]
b = [2,4,6,8,10]
c = [3,6,9,12,15]

In [341]:
result = []
for x, y, z in zip(a, b, c):
    result.append(x * y * z)
result

[6, 48, 162, 384, 750]

In [344]:
# map() 함수 활용법 공부
list(map(lambda x, y, z: x*y*z, a,b,c))

[6, 48, 162, 384, 750]