# 데이터 분석
- 인공지능(AI)
    - 머신러닝(ML)
    - 딥러닝(DL)

----------
- 머신러닝_데이터 분석
    - 지도학습 : 데이터에 정답이 포함된 경우
        - 분류분석, 회귀분석 등
    - 비지도학습 : 데이터에 정답이 없는 경우
        - 군집분석
-------
- 딥러닝_데이터 분석
    - 자연어 분석(NLP)
        - 언어 분석 -> 금융권 신용평가, 연체여부 확인, 금융사기 등 
        - 긍정적 / 부정적 여부 확인
    - 이미지 분석
        - 얼굴인증(얼굴 이미지 = 서버의 얼굴 이미지와 동일 여부 확인), 생체인증
        - 퀀트 투자 : 주가와 같은 시계열 데이터의 흐름을 이미지로 인식하여 패턴 파악 및 자동화

# Numpy
- https://numpy.org/numpy-tutorials/
- numpy : Nemerical Python 과학적, 산업적 연상을 위한 패키지
- 다차원 배열, 행렬 연산에 주로 사용
- numpy는 python의 .list와 비슷한 자료형
- 순서가 있는 자료형
- 파이썬의 list와의 차이는 자료형이 1가지만 들어간다

## 차원
- 0차원 = 점, 스칼라(a = 10)
- 1차원 = 선 ----- 벡터, 배열, list, tuple
    - 벡터는 방향을 가진 데이터
    - [1,2,3,4]
- 2차원 = 면, 가로/세로, DB 테이블, DataFrame, matrix
- 3차원 = 입체, 가로(x)/세로(y)/깊이(z), 정육면체
- 4차원 = 3차원 요소가 2개 이상
- 5차원 = 4차원 요소가 2개 이상

------------

- Excel : 기본적으로 2차원(가로/세로)
    - 하나의 셀 = 스칼라
    - 행 벡터(가로), 열 벡터(세로)

In [2]:
import numpy as np

In [9]:
# 1차원 데이터
a = np.array([1,2,3,4,5])

In [10]:
# 스칼라
s = 10

- 차원을 출력하는 메서드 : .ndim
- 차원의 형태를 출력하는 메서드 : .shape

In [11]:
# ndarray는 벡터이므로 1차원
a.ndim

1

In [38]:
# 방향이 없는 벡터
a.shape

(5,)

In [42]:
# 새로 방향을 가진 1차원 데이터
a2 = np.array([[1],[2],[3],[4],[5]])
a2

array([[1],
       [2],
       [3],
       [4],
       [5]])

In [48]:
print(a2.ndim)
print(a2.shape)

2
(5, 1)

In [47]:
# 열벡터
a3 = np.array([[1,2,3,4,5]])
a3.shape

(1, 5)

In [37]:
# 2차원 데이터
c = np.array([[1,2,3,4,5], [6,7,8,9,10]])

In [18]:
print(c.ndim)
print(c.shape) # (행, 열) : 2개(2차원)

2
(2, 5)

In [49]:
# 3차원 데이터
d = np.array([[[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]],
             [[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]]])

In [50]:
print(d.ndim)
print(d.shape) # ((행/열)2차원 데이터의 수, 행, 열) : 3개(3차원)

3
(4, 2, 5)

In [35]:
# 4차원 데이터
e = np.array([[[[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]]],
             [[[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]]]])

In [29]:
print(e.ndim)
print(e.shape) # (3차원 데이터의 수,(행/열)2차원 데이터의 수, 행, 열) : 4개(4차원)

4
(2, 2, 2, 5)

In [34]:
# 5차원 데이터
f = np.array([[[[[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]]],
             [[[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]]]],
             [[[[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]]],
             [[[1,2,3,4,5], [6,7,8,9,10]], [[1,2,3,4,5], [6,7,8,9,10]]]]])

In [51]:
print(f.ndim)
print(f.shape) # (4차원 데이터의 수, 3차원 데이터의 수,(행/열)2차원 데이터의 수, 행, 열) : 5개(5차원)

5
(2, 2, 2, 2, 5)

In [59]:
f[0][0][0][0]

array([1, 2, 3, 4, 5])

# Numpy 사용 이유
- 행렬 연산이 쉽고 빠르기 때문

In [65]:
# 스칼라 연산
a = 10
b = 5
scalar = a + b
print(scalar)
print(scalar + 10)

15
25

In [67]:
# 1차원 데이터 벡터의 연산
b1 = [1,2,3,4,5]

# 리스트의 요소에 10을 곱한 후 다시 리스트로 만드세요

result = []
for num in b1:
    result.append(num*10)
print(result)

[10, 20, 30, 40, 50]

In [69]:
result2 = [num*10 for num in b1]
result2

[10, 20, 30, 40, 50]

In [77]:
# 2차원 데이터 계산 *10
second = np.array([[1,2,3], [1,2,3]])
print(second, second.ndim, second.shape)

[[1 2 3]
 [1 2 3]] 2 (2, 3)

In [102]:
result = []
for num in second:
#     print(num)
    mid_result = []
    for number in num:
        mid_result.append(number * 10)
    result.append(mid_result)
print(result)

[[np.int64(10), np.int64(20), np.int64(30)], [np.int64(10), np.int64(20), np.int64(30)]]

In [103]:
result = np.array(result)
print(result.ndim)
print(result.shape)

2
(2, 3)

In [80]:
# 3차원 데이터의 요소에 10 곱셈
third = np.array([[[1,2,3],[1,2,3]],[[1,2,3], [1,2,3]]])
print(third, third.ndim, third.shape)

[[[1 2 3]
  [1 2 3]]

 [[1 2 3]
  [1 2 3]]] 3 (2, 2, 3)

In [104]:
result = []

for num1 in third:
#     print(num1)
    num1_result = []
    for num2 in num1:
#         print(num2)
        num2_result = []
        for num3 in num2:
            num2_result.append(num3 * 10)
        num1_result.append(num2_result)
    result.append(num1_result)
print(result)

[[[np.int64(10), np.int64(20), np.int64(30)], [np.int64(10), np.int64(20), np.int64(30)]], [[np.int64(10), np.int64(20), np.int64(30)], [np.int64(10), np.int64(20), np.int64(30)]]]

In [105]:
result = np.array(result)
print(result.ndim)
print(result.shape)

3
(2, 2, 3)

In [111]:
# 4차원 데이터 요소에 10 곱셈
forth = np.array([[[[1,2,3],[1,2,3]],[[1,2,3], [1,2,3]]],
                 [[[1,2,3],[1,2,3]],[[1,2,3], [1,2,3]]]])
print(forth.ndim, forth.shape)

4 (2, 2, 2, 3)

In [108]:
forth * 10

array([[[[10, 20, 30],
         [10, 20, 30]],

        [[10, 20, 30],
         [10, 20, 30]]],


       [[[10, 20, 30],
         [10, 20, 30]],

        [[10, 20, 30],
         [10, 20, 30]]]])

In [110]:
# 5차원 데이터 요소에 10 곱셈
fifth = np.array([[[[[1,2,3],[1,2,3]],[[1,2,3], [1,2,3]]],
                 [[[1,2,3],[1,2,3]],[[1,2,3], [1,2,3]]]],
                 [[[[1,2,3],[1,2,3]],[[1,2,3], [1,2,3]]],
                 [[[1,2,3],[1,2,3]],[[1,2,3], [1,2,3]]]]])
print(fifth.ndim, fifth.shape)

5 (2, 2, 2, 2, 3)

In [113]:
fifth * 10

array([[[[[10, 20, 30],
          [10, 20, 30]],

         [[10, 20, 30],
          [10, 20, 30]]],


        [[[10, 20, 30],
          [10, 20, 30]],

         [[10, 20, 30],
          [10, 20, 30]]]],



       [[[[10, 20, 30],
          [10, 20, 30]],

         [[10, 20, 30],
          [10, 20, 30]]],


        [[[10, 20, 30],
          [10, 20, 30]],

         [[10, 20, 30],
          [10, 20, 30]]]]])

# Numpy에서 자주 사용하는 메서드
- .ndim : 몇 차원인지 확인
- .shape : 몇 차원, 몇행, 몇열로 되어 있는지 구조 확인
- .size : 배열 안에 있는 요소의 총 개수가 몇 개인지 확인
- .dtype : 데이터 타입이 무엇인지 확인

In [114]:
print(fifth.ndim)
print(fifth.shape)
print(fifth.size)
print(fifth.dtype)

5
(2, 2, 2, 2, 3)
48
int64

In [119]:
# fifth / 2

# ndarray 생성
- numpy의 기본 자료형 ndarray
- np.array(리스트/튜플)
- 자료형은 반드시 1가지만 넣기

In [121]:
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [122]:
print(*[1,2,3,4,5])

1 2 3 4 5

In [123]:
e = np.array((1,2,3,4,5))
e

array([1, 2, 3, 4, 5])

In [131]:
e = np.array((1,2,3.14,4,5))
e.dtype

dtype('float64')

In [127]:
e3 = np.array((True, 1,2,3.14, '4',5))
print(e3)
e3.dtype

['True' '1' '2' '3.14' '4' '5']

dtype('<U32')

- np.arange(시작, 끝, step)

In [134]:
a = np.arange(1,11,2)
a

array([1, 3, 5, 7, 9])

In [135]:
a3 = np.arange(1,101)
a3

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [137]:
# .reshape(행, 열) : 벡터를 원하는 크기의 matrix 또는 다차원 배열로 변환
print(a3.ndim)
print(a3.shape)

a4 = a3.reshape(20,5)
print(a4.ndim)
print(a4.shape)

1
(100,)
2
(20, 5)

In [141]:
a5 = a3.reshape(5,4,5)
print(a5.ndim)
print(a5.shape)

3
(5, 4, 5)

In [144]:
a6 = a3.reshape(4, 25)
print(a6.ndim)
print(a6.shape)
a6

2
(4, 25)

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25],
       [ 26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
         39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,
         64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75],
       [ 76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,
         89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100]])

In [145]:
# flatten() : 다차원 배열을 1차원으로 펼쳐줌
a7 = np.arange(24)
a7 = a7.reshape(3,2,2,2)
a7

array([[[[ 0,  1],
         [ 2,  3]],

        [[ 4,  5],
         [ 6,  7]]],


       [[[ 8,  9],
         [10, 11]],

        [[12, 13],
         [14, 15]]],


       [[[16, 17],
         [18, 19]],

        [[20, 21],
         [22, 23]]]])

In [150]:
a72 = a7.flatten()
print(a72.ndim)
print(a72.shape)

1
(24,)

In [153]:
# np.flip() : 행렬의 순서 뒤집는 경우
a73 = a72.reshape(3,2,2,2)
np.flip(a73)

array([[[[23, 22],
         [21, 20]],

        [[19, 18],
         [17, 16]]],


       [[[15, 14],
         [13, 12]],

        [[11, 10],
         [ 9,  8]]],


       [[[ 7,  6],
         [ 5,  4]],

        [[ 3,  2],
         [ 1,  0]]]])

In [155]:
a73[-1]

array([[[16, 17],
        [18, 19]],

       [[20, 21],
        [22, 23]]])

In [160]:
# np.linspace(시작, 끝, 구간 수) : 정해진 숫자 범위 안에서 균등한 구간을 나누는 경우
np.linspace(1,10, 539)

array([ 1.        ,  1.01672862,  1.03345725,  1.05018587,  1.0669145 ,
        1.08364312,  1.10037175,  1.11710037,  1.133829  ,  1.15055762,
        1.16728625,  1.18401487,  1.20074349,  1.21747212,  1.23420074,
        1.25092937,  1.26765799,  1.28438662,  1.30111524,  1.31784387,
        1.33457249,  1.35130112,  1.36802974,  1.38475836,  1.40148699,
        1.41821561,  1.43494424,  1.45167286,  1.46840149,  1.48513011,
        1.50185874,  1.51858736,  1.53531599,  1.55204461,  1.56877323,
        1.58550186,  1.60223048,  1.61895911,  1.63568773,  1.65241636,
        1.66914498,  1.68587361,  1.70260223,  1.71933086,  1.73605948,
        1.7527881 ,  1.76951673,  1.78624535,  1.80297398,  1.8197026 ,
        1.83643123,  1.85315985,  1.86988848,  1.8866171 ,  1.90334572,
        1.92007435,  1.93680297,  1.9535316 ,  1.97026022,  1.98698885,
        2.00371747,  2.0204461 ,  2.03717472,  2.05390335,  2.07063197,
        2.08736059,  2.10408922,  2.12081784,  2.13754647,  2.15427509,
        2.17100372,  2.18773234,  2.20446097,  2.22118959,  2.23791822,
        2.25464684,  2.27137546,  2.28810409,  2.30483271,  2.32156134,
        2.33828996,  2.35501859,  2.37174721,  2.38847584,  2.40520446,
        2.42193309,  2.43866171,  2.45539033,  2.47211896,  2.48884758,
        2.50557621,  2.52230483,  2.53903346,  2.55576208,  2.57249071,
        2.58921933,  2.60594796,  2.62267658,  2.6394052 ,  2.65613383,
        2.67286245,  2.68959108,  2.7063197 ,  2.72304833,  2.73977695,
        2.75650558,  2.7732342 ,  2.78996283,  2.80669145,  2.82342007,
        2.8401487 ,  2.85687732,  2.87360595,  2.89033457,  2.9070632 ,
        2.92379182,  2.94052045,  2.95724907,  2.9739777 ,  2.99070632,
        3.00743494,  3.02416357,  3.04089219,  3.05762082,  3.07434944,
        3.09107807,  3.10780669,  3.12453532,  3.14126394,  3.15799257,
        3.17472119,  3.19144981,  3.20817844,  3.22490706,  3.24163569,
        3.25836431,  3.27509294,  3.29182156,  3.30855019,  3.32527881,
        3.34200743,  3.35873606,  3.37546468,  3.39219331,  3.40892193,
        3.42565056,  3.44237918,  3.45910781,  3.47583643,  3.49256506,
        3.50929368,  3.5260223 ,  3.54275093,  3.55947955,  3.57620818,
        3.5929368 ,  3.60966543,  3.62639405,  3.64312268,  3.6598513 ,
        3.67657993,  3.69330855,  3.71003717,  3.7267658 ,  3.74349442,
        3.76022305,  3.77695167,  3.7936803 ,  3.81040892,  3.82713755,
        3.84386617,  3.8605948 ,  3.87732342,  3.89405204,  3.91078067,
        3.92750929,  3.94423792,  3.96096654,  3.97769517,  3.99442379,
        4.01115242,  4.02788104,  4.04460967,  4.06133829,  4.07806691,
        4.09479554,  4.11152416,  4.12825279,  4.14498141,  4.16171004,
        4.17843866,  4.19516729,  4.21189591,  4.22862454,  4.24535316,
        4.26208178,  4.27881041,  4.29553903,  4.31226766,  4.32899628,
        4.34572491,  4.36245353,  4.37918216,  4.39591078,  4.41263941,
        4.42936803,  4.44609665,  4.46282528,  4.4795539 ,  4.49628253,
        4.51301115,  4.52973978,  4.5464684 ,  4.56319703,  4.57992565,
        4.59665428,  4.6133829 ,  4.63011152,  4.64684015,  4.66356877,
        4.6802974 ,  4.69702602,  4.71375465,  4.73048327,  4.7472119 ,
        4.76394052,  4.78066914,  4.79739777,  4.81412639,  4.83085502,
        4.84758364,  4.86431227,  4.88104089,  4.89776952,  4.91449814,
        4.93122677,  4.94795539,  4.96468401,  4.98141264,  4.99814126,
        5.01486989,  5.03159851,  5.04832714,  5.06505576,  5.08178439,
        5.09851301,  5.11524164,  5.13197026,  5.14869888,  5.16542751,
        5.18215613,  5.19888476,  5.21561338,  5.23234201,  5.24907063,
        5.26579926,  5.28252788,  5.29925651,  5.31598513,  5.33271375,
        5.34944238,  5.366171  ,  5.38289963,  5.39962825,  5.41635688,
        5.4330855 ,  5.44981413,  5.46654275,  5.48327138,  5.5       ,
        5.51672862,  5.53345725,  5.55018587,  5.5669145 ,  5.58364312,
        5.60037175,  5.61710037,  5.633829  ,  5.65055762,  5.66728625,
        5.68401487,  5.70074349,  5.71747212,  5.73420074,  5.75092937,
        5.76765799,  5.78438662,  5.80111524,  5.81784387,  5.83457249,
        5.85130112,  5.86802974,  5.88475836,  5.90148699,  5.91821561,
        5.93494424,  5.95167286,  5.96840149,  5.98513011,  6.00185874,
        6.01858736,  6.03531599,  6.05204461,  6.06877323,  6.08550186,
        6.10223048,  6.11895911,  6.13568773,  6.15241636,  6.16914498,
        6.18587361,  6.20260223,  6.21933086,  6.23605948,  6.2527881 ,
        6.26951673,  6.28624535,  6.30297398,  6.3197026 ,  6.33643123,
        6.35315985,  6.36988848,  6.3866171 ,  6.40334572,  6.42007435,
        6.43680297,  6.4535316 ,  6.47026022,  6.48698885,  6.50371747,
        6.5204461 ,  6.53717472,  6.55390335,  6.57063197,  6.58736059,
        6.60408922,  6.62081784,  6.63754647,  6.65427509,  6.67100372,
        6.68773234,  6.70446097,  6.72118959,  6.73791822,  6.75464684,
        6.77137546,  6.78810409,  6.80483271,  6.82156134,  6.83828996,
        6.85501859,  6.87174721,  6.88847584,  6.90520446,  6.92193309,
        6.93866171,  6.95539033,  6.97211896,  6.98884758,  7.00557621,
        7.02230483,  7.03903346,  7.05576208,  7.07249071,  7.08921933,
        7.10594796,  7.12267658,  7.1394052 ,  7.15613383,  7.17286245,
        7.18959108,  7.2063197 ,  7.22304833,  7.23977695,  7.25650558,
        7.2732342 ,  7.28996283,  7.30669145,  7.32342007,  7.3401487 ,
        7.35687732,  7.37360595,  7.39033457,  7.4070632 ,  7.42379182,
        7.44052045,  7.45724907,  7.4739777 ,  7.49070632,  7.50743494,
        7.52416357,  7.54089219,  7.55762082,  7.57434944,  7.59107807,
        7.60780669,  7.62453532,  7.64126394,  7.65799257,  7.67472119,
        7.69144981,  7.70817844,  7.72490706,  7.74163569,  7.75836431,
        7.77509294,  7.79182156,  7.80855019,  7.82527881,  7.84200743,
        7.85873606,  7.87546468,  7.89219331,  7.90892193,  7.92565056,
        7.94237918,  7.95910781,  7.97583643,  7.99256506,  8.00929368,
        8.0260223 ,  8.04275093,  8.05947955,  8.07620818,  8.0929368 ,
        8.10966543,  8.12639405,  8.14312268,  8.1598513 ,  8.17657993,
        8.19330855,  8.21003717,  8.2267658 ,  8.24349442,  8.26022305,
        8.27695167,  8.2936803 ,  8.31040892,  8.32713755,  8.34386617,
        8.3605948 ,  8.37732342,  8.39405204,  8.41078067,  8.42750929,
        8.44423792,  8.46096654,  8.47769517,  8.49442379,  8.51115242,
        8.52788104,  8.54460967,  8.56133829,  8.57806691,  8.59479554,
        8.61152416,  8.62825279,  8.64498141,  8.66171004,  8.67843866,
        8.69516729,  8.71189591,  8.72862454,  8.74535316,  8.76208178,
        8.77881041,  8.79553903,  8.81226766,  8.82899628,  8.84572491,
        8.86245353,  8.87918216,  8.89591078,  8.91263941,  8.92936803,
        8.94609665,  8.96282528,  8.9795539 ,  8.99628253,  9.01301115,
        9.02973978,  9.0464684 ,  9.06319703,  9.07992565,  9.09665428,
        9.1133829 ,  9.13011152,  9.14684015,  9.16356877,  9.1802974 ,
        9.19702602,  9.21375465,  9.23048327,  9.2472119 ,  9.26394052,
        9.28066914,  9.29739777,  9.31412639,  9.33085502,  9.34758364,
        9.36431227,  9.38104089,  9.39776952,  9.41449814,  9.43122677,
        9.44795539,  9.46468401,  9.48141264,  9.49814126,  9.51486989,
        9.53159851,  9.54832714,  9.56505576,  9.58178439,  9.59851301,
        9.61524164,  9.63197026,  9.64869888,  9.66542751,  9.68215613,
        9.69888476,  9.71561338,  9.73234201,  9.74907063,  9.76579926,
        9.78252788,  9.79925651,  9.81598513,  9.83271375,  9.84944238,
        9.866171  ,  9.88289963,  9.89962825,  9.91635688,  9.9330855 ,
        9.94981413,  9.96654275,  9.98327138, 10.        ])

In [163]:
np.linspace(0,1, 13)

array([0.        , 0.08333333, 0.16666667, 0.25      , 0.33333333,
       0.41666667, 0.5       , 0.58333333, 0.66666667, 0.75      ,
       0.83333333, 0.91666667, 1.        ])

In [164]:
# 정렬, .sort(), sorted()
f =np.array([5,7,11,1,3,2,54,0,0.5,68])
f

array([ 5. ,  7. , 11. ,  1. ,  3. ,  2. , 54. ,  0. ,  0.5, 68. ])

In [167]:
f.sort() # 저장하지 않아도 자동으로 저장되메
f

array([ 0. ,  0.5,  1. ,  2. ,  3. ,  5. ,  7. , 11. , 54. , 68. ])

In [169]:
# 저장하고 싶지 않다면 sorted 활용
sorted(f)

[np.float64(0.0),
 np.float64(0.5),
 np.float64(1.0),
 np.float64(2.0),
 np.float64(3.0),
 np.float64(5.0),
 np.float64(7.0),
 np.float64(11.0),
 np.float64(54.0),
 np.float64(68.0)]

In [171]:
sorted(f, reverse=True)

[np.float64(68.0),
 np.float64(54.0),
 np.float64(11.0),
 np.float64(7.0),
 np.float64(5.0),
 np.float64(3.0),
 np.float64(2.0),
 np.float64(1.0),
 np.float64(0.5),
 np.float64(0.0)]

In [178]:
f = f.reshape(2,5)
f.sort()
f

array([[ 0. ,  0.5,  1. ,  2. ,  3. ],
       [ 5. ,  7. , 11. , 54. , 68. ]])

In [179]:
# argsort() : 자료 중 값이 작은 것에서 큰 순으로 원래 인덱스 출력
g = np.array([5,0.5, -7, 42,10,0])
print(g)

[ 5.   0.5 -7.  42.  10.   0. ]

In [181]:
# 2,5,1,0,4,3
s = g.argsort()
s

array([2, 5, 1, 0, 4, 3])

In [184]:
g[s][::-1]

array([42. , 10. ,  5. ,  0.5,  0. , -7. ])